// fade effect for display content
.fade-effect {
  opacity: 0;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fade-in-element {
  animation: fade-in-up 1.4s;
}

/* Image gradient hover effect */
.item-gradient {
  background: #fff;
  background: linear-gradient(
    135deg,
    #000000 0%,
    #000000 25%,
    #514a9d 50%,
    #24c6dc 75%,
    #514a9d 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 400% 400%;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  transition: 0.9s all;

  &__img {
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    mix-blend-mode: screen;
  }

  &:hover {
    background-position: 100% 100%;
  }
}

/* Image zoom hover effect */
.img-hover-zoom {
  height: auto; /* Modify this according to your need */
  overflow: hidden; /* Removing this will break the effects */
}
/* Brightness-zoom Container */
.img-hover-zoom--brightness {
  transition: all 1.5s ease-in-out;

  &:hover {
    background-color: #000;

    img {
      transition: transform 2s, filter 1.5s ease-in-out;
      //filter: brightness(100%);
      transform: scale(1.3);
    }
  }

  img {
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    //filter: brightness(50%);
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

/* general effect styles */
.photobox__previewbox {
  position: relative;
  overflow: hidden;
  display: block;
}

.photobox__preview {
  display: block;
  max-width: 100%;
}

.photobox__previewbox:before {
  content: "";
}

/* hover base effect */
.photobox_base .photobox__previewbox:before {
  width: 0;
  height: 0;
  padding: 25%;

  background-color: var(--photoboxOverlay, rgba(55, 212, 186, 0.5));
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  transition: transform calc(var(--photoboxAnimationDuration, 0.8s) / 2) ease;
  will-change: transform;
  transform: translate(-50%, -50%) scale(0);
}

.photobox_base:hover .photobox__previewbox:before {
  transform: translate(-50%, -50%) scale(4);
  transition-duration: var(--photoboxAnimationDuration, 0.8s);
}

.photobox_base.photobox__label {
  width: 95%;
  text-align: center;

  opacity: 0;
  transition: opacity calc(var(--photoboxAnimationDuration, 0.8s) / 4)
      cubic-bezier(0.71, 0.05, 0.29, 0.9),
    transform calc(var(--photoboxAnimationDuration, 0.8s) / 4)
      cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity, transform;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  z-index: 3;
}

.photobox_base:hover .photobox__label {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition-duration: calc(var(--photoboxAnimationDuration, 0.8s) / 2);
  transition-delay: calc(var(--photoboxAnimationDuration, 0.8s) / 4);
}

.photobox_base .photobox__preview {
  transition: transform calc(var(--photoboxAnimationDuration, 0.8s) / 2)
    cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: transform;
  transform: scale(1);
}

.photobox_base:hover .photobox__preview {
  transform: scale(1.08, 1.08);
  cursor: pointer;
}

/* hover base 2 effect */

.photobox_base_2 .photobox__previewbox:before {
  width: 100%;
  height: 100%;

  background-color: var(--photoboxOverlay, rgba(55, 212, 186, 0.5));
  opacity: 0;
  transition: opacity var(--photoboxAnimationDuration, 0.4s)
    cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.photobox_base_2:hover .photobox__previewbox:before {
  opacity: 1;
}

.photobox_base_2 .photobox__label {
  width: 98%;
  text-align: center;

  opacity: 0;
  transition: opacity calc(var(--photoboxAnimationDuration, 0.4s) / 4)
    cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: opacity;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.photobox_base_2:hover .photobox__label {
  opacity: 1;
  transition-duration: var(--photoboxAnimationDuration, 0.4s);
  transition-delay: calc(var(--photoboxAnimationDuration, 0.4s) / 2);
}

.photobox_base_2 .photobox__preview {
  transition: transform var(--photoboxAnimationDuration, 0.4s)
    cubic-bezier(0.71, 0.05, 0.29, 0.9);
  will-change: transform;
  transform: scale(1) rotate(0);
}

.photobox_base_2:hover .photobox__preview {
  transform: scale(1.2) rotate(5deg);
}
