<!-- Favicon -->
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="./assets/i/favicons/favicon.ico"
/>
<!-- Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Work+Sans:300,400&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap"
  rel="stylesheet"
/>
<!-- Style CSS -->
<link rel="stylesheet" href="./assets/css/style.css" />
