<footer id="footer">
    <section class="footer-top">
        <div class="footer-top-wrap">
            <img src="https://via.placeholder.com/390x185" class="footer_img wow slideInRight"
                data-wow-duration="1000ms" data-wow-delay="200ms" alt="Ewave">
            <div class="subscribe-box wow fadeInUp">
                <div class="title-box">
                    <div class="subscribe-title font_one">Newsletter</div>
                    <span class="subscribe-description font_two">Did you feel that?</span>
                </div>
                <form action="/" method="post" class="footer-subscribe-form">
                    <input type="text" value="" placeholder="Enter your email here" class="font_two" />
                    <button class="font_one">Subscribe</button>
                </form>
            </div>

            <div class="useful-sections">
                <div class="useful-box wow fadeInUp">
                    <div class="title-line font_one">Contact info</div>
                    <ul class="info-list">
                        <li>
                            <i class="fas fa-mobile"></i>
                            <span class="font_two">+010 234 7892 34</span>
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <span class="font_two">685 Lane Drive St. California, Auto</span>
                        </li>
                        <li>
                            <i class="fas fa-envelope fz16"></i>
                            <a href="mailto:support@superbcode.net" class="font_two">support@superbcode.net</a>
                        </li>
                    </ul>
                </div>
                <div class="useful-box wow fadeInUp" data-wow-delay="100ms">
                    <div class="title-line font_one">News</div>
                    <ul class="info-list">
                        <li>
                            <a href="#">Best Car Listing Template</a>
                        </li>
                        <li>
                            <a href="#">Buy the best Car Dealer</a>
                        </li>
                        <li>
                            <a href="#">Breaking News for Corvette</a>
                        </li>
                    </ul>
                </div>
                <div class="useful-box mw575 wow fadeInUp" data-wow-delay="200ms">
                    <div class="title-line font_one">Useful Information</div>
                    <ul class="info-list flexList">
                        <li>
                            <a href="#">Guides and Articles</a>
                        </li>
                        <li>
                            <a href="#">Customer Reviews</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Service Plus</a>
                        </li>
                        <li>
                            <a href="#">Catalog Category</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-bottom">
        <div class="copyright font_two wow fadeInUp" data-wow-offset="-100">
            &copy; Copyright 2019
            <a href="https://themeforest.net/user/superbcode" target="_blank">SuperbCode</a>
        </div>
        <div class="footer-social-profiles-wrap wow fadeInUp" data-wow-delay="100ms">
            <ul class="footer-social-profiles-list">
                <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <nav class="footer-list wow fadeInUp" data-wow-delay="300ms">
            <ul class="font_one">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./models.html">Models</a></li>
                <li><a href="./contact.html">Contact us</a></li>
            </ul>
        </nav>

    </section>
</footer>