// Inputs
label {
    display: block;
    font-weight: 500;
    color: $mainFontColor;
    margin-bottom: 3px;
    margin-left: 2px;
    font-size: 14px;
    line-height: 30px;
}

input[type=text], input[type=email] {
    font-size: 13px;
    line-height: 30px;
    background: #fff;
    border: 1px solid $border-base;
    font-weight: 300;
    color: $mainFontColor;
}

textarea {
    width: 100%;
    background: #fff;
    border: 1px solid $border-base;
    font-weight: 300;
    color: $mainFontColor;
}

// Checkboxes
.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        font-size: 18px;
        line-height: 22px;
        color: $mainFontColor;
        font-weight: normal;

        span {
            position: relative;
        }
    }

    // Box.
    & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 19px;
        height: 19px;
        border: 1px solid $primary-color;
    }

    // Box checked
    &:checked + label:before {
        background: $primary-color;
    }

    // Disabled state label.
    &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
        content: '';
        position: absolute;
        left: 4px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow:
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
        transform: rotate(45deg);
    }
}

//Radio
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: $mainFontColor;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $primary-color;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $primary-color;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}