<section class="about-us-widget">
    <div class="about-left-side wow fadeInUp">
        <div class="about-left-content">
            <img src="https://via.placeholder.com/345x345" alt="" class="large-photo image-responsive">
            <ul class="about-details-list">
                <li>
                    <img src="https://via.placeholder.com/85x85" class="details-img image-responsive"
                        alt="About widget small image 1">
                    <div class="details-text-box">
                        <span class="details-title font_one">About Us</span>
                        <small class="font_two details-description">Welcome to the Ewave </small>
                    </div>
                </li>
                <li>
                    <img src="https://via.placeholder.com/85x85" class="details-img image-responsive"
                        alt=" About widget small image 2">
                    <div class="details-text-box">
                        <span class="details-title font_one">History</span>
                        <small class="font_two details-description">Car dealer's 20 year</small>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="about-right-side wow fadeInUp" data-wow-delay="100ms">
        <div class="about-right-side-top">
            <h2 class="about-widget-title font_one">About us</h2>
            <p class="about-widget-description font_two">
                We know the difference is in the details and that’s why our car rental services,
                in the tourism and business industry, stand out for their quality and good taste,
                to offer you an unique experience
            </p>
        </div>

        <div class="about-right-side-bottom">
            <!-- Video tag click and show in popup -->
            <div class="video-preview">
                <a href="https://www.youtube.com/watch?v=464puoD09dM" class="video-source">
                    <img src="https://via.placeholder.com/520x330" class="image-responsive" alt="">
                </a>
            </div>
            <div class="about-video-description">
                <h3 class="video-preview-title font_one">Performance </h3>
                <span class="video-preview-description font_two">Watch the video</span>
            </div>
        </div>
    </div>
</section>