<section class="brands-nav-widget wow fadeIn" data-wow-delay="200ms">
    <div class="wrapper">
        <div class="brands-box">
            <div class="brands-title wow fadeInUp" data-wow-delay="400ms">
                Amazing Brands
            </div>
            <ul class="brands-list font_one wow fadeInUp" data-wow-delay="600ms">
                <li><a href="./models-1.html">Audi</a></li>
                <li><a href="./models-1.html">BMW</a></li>
                <li><a href="./models-1.html">Chevrolet</a></li>
                <li><a href="./models-1.html">Fiat</a></li>
                <li><a href="./models-1.html">Ford</a></li>
                <li><a href="./models-1.html">Hyundai</a></li>
                <li><a href="./models-1.html">Jaguar</a></li>
                <li><a href="./models-1.html">Kia</a></li>
                <li><a href="./models-1.html">Lexus</a></li>
                <li><a href="./models-1.html">Lucid Air</a></li>
                <li><a href="./models-1.html">Mazda</a></li>
                <li><a href="./models-1.html">Mercedes</a></li>
                <li><a href="./models-1.html">Nissan</a></li>
                <li><a href="./models-1.html">Polestar</a></li>
                <li><a href="./models-1.html">Porsche</a></li>
                <li><a href="./models-1.html">Renault</a></li>
                <li><a href="./models-1.html">Rivian</a></li>
                <li><a href="./models-1.html">Smart</a></li>
                <li><a href="./models-1.html">Tesla</a></li>
                <li><a href="./models-1.html">Toyota</a></li>
                <li><a href="./models-1.html">Volkswagen</a></li>
                <li><a href="./models-1.html">Volvo</a></li>
            </ul>
        </div>
    </div>
</section>