<section class="car-presentation-widget">
  <div class="wrapper">
    <div class="simple-page-heading align-center">
      <h2 class="heading-title font_one wow fadeIn">Find your electric car</h2>
      <p class="heading-description font_one wow fadeIn" data-wow-delay="100ms">
        Shaping the future of electric mobility
      </p>
    </div>
  </div>

  <div class="slick-container">
    <div class="car-presentation-slider">
      <!-- Slide item -->
      <div class="slide__item" data-brand="Audi">
        <div class="slide__car__box wow fadeIn" id="slide-1">
          <div class="slide__car__info">
            <h3 class="slide__car__title wow fadeInUp" data-wow-delay="200ms">
              Audi E-tron
            </h3>
            <p class="slide__car__desc wow fadeInUp" data-wow-delay="300ms">
              Style and power in one bottle
            </p>
          </div>
          <a
            href="./model-single.html"
            class="wow fadeInUp slide__car__wrap"
            data-wow-delay="400ms"
          >
            <img
              src="https://via.placeholder.com/765x325/c1c1c1"
              class="slide__car image-responsive"
              alt="Audi E-tron"
            />
          </a>
        </div>
        <div class="slide__bottom__box">
          <div class="wrapper">
            <!-- Technical features list -->
            <ul class="technical__features__list">
              <li class="wow fadeInUp">
                <div class="feature__title">
                  259
                  <span>miles</span>
                </div>
                <div class="feature__subtitle">Power reserve</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="100ms">
                <div class="feature__title">
                  124
                  <span>miles</span>
                </div>
                <div class="feature__subtitle">Max speed</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="200ms">
                <div class="feature__title">
                  95
                  <span>kW/h</span>
                </div>
                <div class="feature__subtitle">Battery</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="300ms">
                <div class="feature__title">
                  6.7
                  <span>sec</span>
                </div>
                <div class="feature__subtitle">Speed up to 100</div>
              </li>
            </ul>

            <!-- More actions box -->
            <div class="more__actions__box wow fadeInUp" data-wow-delay="400ms">
              <a href="#test-drive-inner" class="btn-icon-right font_one">
                <span class="btn-icon-title">Order test drive</span>
                <span class="btn-icon-icon">
                  <img
                    src="./assets/i/icons/car-icon.svg"
                    class="svg icon-car-front"
                    alt="Car icon"
                  />
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide item -->
      <div class="slide__item" data-brand="BMW">
        <div class="slide__car__box wow fadeIn" id="slide-6">
          <div class="slide__car__info">
            <h3 class="slide__car__title wow fadeInUp" data-wow-delay="200ms">
              BMW IX
            </h3>
            <p class="slide__car__desc wow fadeInUp" data-wow-delay="300ms">
              Electric crossover of the new era
            </p>
          </div>
          <a
            href="./model-single.html"
            class="wow fadeInUp slide__car__wrap"
            data-wow-delay="400ms"
          >
            <img
              src="https://via.placeholder.com/765x325/c1c1c1"
              class="slide__car image-responsive"
              alt="BMW IX"
            />
          </a>
        </div>
        <div class="slide__bottom__box">
          <div class="wrapper">
            <ul class="technical__features__list font_one">
              <li class="wow fadeInUp">
                <div class="feature__title">
                  285
                  <span>miles</span>
                </div>
                <div class="feature__subtitle">Power reserve</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="100ms">
                <div class="feature__title">
                  124
                  <span>miles</span>
                </div>
                <div class="feature__subtitle">Max speed</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="200ms">
                <div class="feature__title">
                  78
                  <span>kW/h</span>
                </div>
                <div class="feature__subtitle">Battery</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="300ms">
                <div class="feature__title">
                  5.1
                  <span>sec</span>
                </div>
                <div class="feature__subtitle">Speed up to 100</div>
              </li>
            </ul>
            <!-- More actions box -->
            <div class="more__actions__box wow fadeInUp" data-wow-delay="100ms">
              <a href="#test-drive-inner" class="btn-icon-right font_one">
                <span class="btn-icon-title">Order test drive</span>
                <span class="btn-icon-icon">
                  <img
                    src="./assets/i/icons/car-icon.svg"
                    class="svg icon-car-front"
                    alt="Car icon"
                  />
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide item -->
      <div class="slide__item" data-brand="Jaguar">
        <div class="slide__car__box wow fadeIn" id="slide-5">
          <div class="slide__car__info">
            <h3 class="slide__car__title wow fadeInUp" data-wow-delay="200ms">
              Jaguar J-Pace
            </h3>
            <p class="slide__car__desc wow fadeInUp" data-wow-delay="300ms">
              Electric car with high aerodynamic characteristics
            </p>
          </div>
          <a
            href="./model-single.html"
            class="wow fadeInUp slide__car__wrap"
            data-wow-delay="400ms"
          >
            <img
              src="https://via.placeholder.com/765x325/c1c1c1"
              class="slide__car image-responsive"
              alt="Mercedes EQC"
            />
          </a>
        </div>
        <div class="slide__bottom__box">
          <div class="wrapper">
            <ul class="technical__features__list font_one">
              <li class="wow fadeInUp">
                <div class="feature__title">
                  300
                  <span>miles</span>
                </div>
                <div class="feature__subtitle">Power reserve</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="100ms">
                <div class="feature__title">
                  89
                  <span>miles</span>
                </div>
                <div class="feature__subtitle">Max speed</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="200ms">
                <div class="feature__title">
                  72
                  <span>kW/h</span>
                </div>
                <div class="feature__subtitle">Battery</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="300ms">
                <div class="feature__title">
                  6.1
                  <span>sec</span>
                </div>
                <div class="feature__subtitle">Speed up to 100</div>
              </li>
            </ul>
            <!-- More actions box -->
            <div class="more__actions__box wow fadeInUp" data-wow-delay="100ms">
              <a href="#test-drive-inner" class="btn-icon-right font_one">
                <span class="btn-icon-title">Order test drive</span>
                <span class="btn-icon-icon">
                  <img
                    src="./assets/i/icons/car-icon.svg"
                    class="svg icon-car-front"
                    alt="Car icon"
                  />
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide item -->
      <div class="slide__item" data-brand="Kia">
        <div class="slide__car__box wow fadeIn" id="slide-2">
          <div class="slide__car__info">
            <h3 class="slide__car__title wow fadeInUp" data-wow-delay="200ms">
              Kia Niro EV
            </h3>
            <p class="slide__car__desc wow fadeInUp" data-wow-delay="300ms">
              Electric crossover with front-wheel drive class K1
            </p>
          </div>
          <a
            href="./model-single.html"
            class="wow fadeInUp slide__car__wrap"
            data-wow-delay="400ms"
          >
            <img
              src="https://via.placeholder.com/765x325/c1c1c1"
              class="slide__car image-responsive"
              alt="Kia Niro EV"
            />
          </a>
        </div>
        <div class="slide__bottom__box">
          <div class="wrapper">
            <ul class="technical__features__list font_one">
              <li class="wow fadeInUp">
                <div class="feature__title">
                  239
                  <span>miles</span>
                </div>
                <div class="feature__subtitle">Power reserve</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="100ms">
                <div class="feature__title">
                  93
                  <span>miles</span>
                </div>
                <div class="feature__subtitle">Max speed</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="200ms">
                <div class="feature__title">
                  64
                  <span>kW/h</span>
                </div>
                <div class="feature__subtitle">Battery</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="300ms">
                <div class="feature__title">
                  7.8
                  <span>sec</span>
                </div>
                <div class="feature__subtitle">Speed up to 100</div>
              </li>
            </ul>
            <!-- More actions box -->
            <div class="more__actions__box wow fadeInUp" data-wow-delay="100ms">
              <a href="#test-drive-inner" class="btn-icon-right font_one">
                <span class="btn-icon-title">Order test drive</span>
                <span class="btn-icon-icon">
                  <img
                    src="./assets/i/icons/car-icon.svg"
                    class="svg icon-car-front"
                    alt="Car icon"
                  />
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide item -->
      <div class="slide__item" data-brand="Mercedes">
        <div class="slide__car__box wow fadeIn" id="slide-3">
          <div class="slide__car__info">
            <h3 class="slide__car__title wow fadeInUp" data-wow-delay="200ms">
              Mercedes EQC
            </h3>
            <p class="slide__car__desc wow fadeInUp" data-wow-delay="300ms">
              This electric crossover has design & technical solutions
            </p>
          </div>
          <a
            href="./model-single.html"
            class="wow fadeInUp slide__car__wrap"
            data-wow-delay="400ms"
          >
            <img
              src="https://via.placeholder.com/765x325/c1c1c1"
              class="slide__car image-responsive"
              alt="Mercedes EQC"
            />
          </a>
        </div>
        <div class="slide__bottom__box">
          <div class="wrapper">
            <ul class="technical__features__list font_one">
              <li class="wow fadeInUp">
                <div class="feature__title">
                  239
                  <span>miles</span>
                </div>
                <div class="feature__subtitle">Power reserve</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="100ms">
                <div class="feature__title">
                  93
                  <span>miles</span>
                </div>
                <div class="feature__subtitle">Max speed</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="200ms">
                <div class="feature__title">
                  64
                  <span>kW/h</span>
                </div>
                <div class="feature__subtitle">Battery</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="300ms">
                <div class="feature__title">
                  7.8
                  <span>sec</span>
                </div>
                <div class="feature__subtitle">Speed up to 100</div>
              </li>
            </ul>
            <!-- More actions box -->
            <div class="more__actions__box wow fadeInUp" data-wow-delay="100ms">
              <a href="#test-drive-inner" class="btn-icon-right font_one">
                <span class="btn-icon-title">Order test drive</span>
                <span class="btn-icon-icon">
                  <img
                    src="./assets/i/icons/car-icon.svg"
                    class="svg icon-car-front"
                    alt="Car icon"
                  />
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide item -->
      <div class="slide__item" data-brand="Polestar">
        <div class="slide__car__box wow fadeIn" id="slide-4">
          <div class="slide__car__info">
            <h3 class="slide__car__title wow fadeInUp" data-wow-delay="200ms">
              Polestar 2
            </h3>
            <p class="slide__car__desc wow fadeInUp" data-wow-delay="300ms">
              Electric car with high aerodynamic characteristics
            </p>
          </div>
          <a
            href="./model-single.html"
            class="wow fadeInUp slide__car__wrap"
            data-wow-delay="400ms"
          >
            <img
              src="https://via.placeholder.com/765x325/c1c1c1"
              class="slide__car image-responsive"
              alt="Mercedes EQC"
            />
          </a>
        </div>
        <div class="slide__bottom__box">
          <div class="wrapper">
            <ul class="technical__features__list font_one">
              <li class="wow fadeInUp">
                <div class="feature__title">
                  292
                  <span>miles</span>
                </div>
                <div class="feature__subtitle">Power reserve</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="100ms">
                <div class="feature__title">
                  111
                  <span>miles</span>
                </div>
                <div class="feature__subtitle">Max speed</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="200ms">
                <div class="feature__title">
                  78
                  <span>kW/h</span>
                </div>
                <div class="feature__subtitle">Battery</div>
              </li>
              <li class="wow fadeInUp" data-wow-delay="300ms">
                <div class="feature__title">
                  6.8
                  <span>sec</span>
                </div>
                <div class="feature__subtitle">Speed up to 100</div>
              </li>
            </ul>
            <!-- More actions box -->
            <div class="more__actions__box wow fadeInUp" data-wow-delay="100ms">
              <a href="#test-drive-inner" class="btn-icon-right font_one">
                <span class="btn-icon-title">Order test drive</span>
                <span class="btn-icon-icon">
                  <img
                    src="./assets/i/icons/car-icon.svg"
                    class="svg icon-car-front"
                    alt="Car icon"
                  />
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
