<section class="company-description-widget">
    <div class="project-features-inner">
        <div class="feature-box masking-text-wrap wow fadeInUp">
            <div class="masking-text">
                <span>EL</span>
            </div>
        </div>
        <div class="feature-box wow fadeInDown" data-wow-delay="100ms">
            <h3 class="feature-title font_one">Who we are</h3>
            <span class="feature-description font_one">General Information</span>
            <div class="font_two">
                <p>
                    Dapibus lacinia dolor vel tincidunt nisi vulputate quis nunc et feugiat diam, nulla mauris
                    ac erat, hendrerit et feugiat et, gravida vel massa morbi sit amet sollicitudin nulla.
                    Phasellus vitae ante purus. Phasellus porttitor ligula viverra sem tristique ullamcorper.
                    eu vitae risus.
                </p>
            </div>
        </div>
        <div class="feature-box wow fadeInUp" data-wow-delay="300ms">
            <div class="font_two">
                <p>
                    Dapibus lacinia dolor vel tinvidunt nisi vulputate quis nunc et feugiat diam, nulla mauris
                    ac erat, hendrerit et feugiat et, gravida vel massa morbi sit amet sollicitudin nulla.
                </p>
                <p>
                    Phasellus vitae ante purus. Phasellus porttitor ligula viverra sem tristique ullamcorper.
                    eu vitae risus. Suspendisse aliquam volutpat augue, eu porta nibh sagittis non.
                    Aliquam libero arcu, condimentum a metus id, pharetra scelerisque leo.
                    Aenean varius, nulla eget maximus porttitor, augue orci
                </p>
            </div>
        </div>
    </div>
</section>