<!-- Owl carousel -->
<div class="content__preview__slider"></div>
<div class="owl-carousel-container">
  <div class="owl-carousel owl-theme" id="header-slide">
    <div class="owl-slide cover" id="header-slide-slide1">
      <div class="wrapper">
        <div class="owl-slide-text-container">
          <h2 class="owl-slide-animated owl-slide-title font_one">
            <a href="./blog-post.html">Volvo XC90 car for life</a>
          </h2>
          <div class="owl-slide-animated owl-slide-subtitle font_one">
            An SUV that you trust not only the safety of your loved ones, but
            also their future
          </div>
          <a
            href="#test-drive-inner"
            class="btn-icon-right font_one slide-action-btn owl-slide-animated"
          >
            <span class="btn-icon-title">Order test drive</span>
            <span class="btn-icon-icon">
              <img
                src="./assets/i/icons/car-icon.svg"
                class="svg icon-car-front"
                alt="Car icon"
              />
            </span>
          </a>
        </div>
      </div>
    </div>
    <!--/owl-slide-->
    <div class="owl-slide cover" id="header-slide-slide2">
      <div class="wrapper">
        <div class="owl-slide-text-container">
          <h2 class="owl-slide-animated owl-slide-title font_one">
            <a href="./blog-post.html">Mercedes-Benz AMG GTR</a>
          </h2>
          <div class="owl-slide-animated owl-slide-subtitle font_one">
            The Mercedes-Benz AMG GT combines a thrilling V8 feel with an
            impressively high driving ability for everyday use
          </div>
          <a
            href="#test-drive-inner"
            class="btn-icon-right font_one slide-action-btn owl-slide-animated"
          >
            <span class="btn-icon-title">Order test drive</span>
            <span class="btn-icon-icon">
              <img
                src="./assets/i/icons/car-icon.svg"
                class="svg icon-car-front"
                alt="Car icon"
              />
            </span>
          </a>
        </div>
      </div>
    </div>
    <!--/owl-slide-->
    <div class="owl-slide cover" id="header-slide-slide3">
      <div class="wrapper">
        <div class="owl-slide-text-container">
          <h2 class="owl-slide-animated owl-slide-title font_one">
            <a href="./blog-post.html">Tesla Model 3</a>
          </h2>
          <div class="owl-slide-animated owl-slide-subtitle font_one">
            Tesla’s mission is to accelerate the world’s transition to
            sustainable energy
          </div>
          <a
            href="#test-drive-inner"
            class="btn-icon-right font_one slide-action-btn owl-slide-animated"
          >
            <span class="btn-icon-title">Order test drive</span>
            <span class="btn-icon-icon">
              <img
                src="./assets/i/icons/car-icon.svg"
                class="svg icon-car-front"
                alt="Car icon"
              />
            </span>
          </a>
        </div>
      </div>
    </div>
    <!--/owl-slide-->
  </div>
</div>
