<section class="full-size-video-widget">
    <!-- Video tag click and show in popup -->
    <div class="video-preview wow fadeInUp" data-wow-delay="200ms">
        <a href="https://www.youtube.com/watch?v=464puoD09dM" class="video-source">
            <img src="https://via.placeholder.com/2040x790" class="image-responsive" alt="video image placeholder">
        </a>
    </div>
    <!-- Video sign -->
    <div class="video-sign font_one">
        <div class="video-sign--wrapper">
            Different Car for Different People
        </div>
    </div>
</section>