<div class="model-features-widget">
    <div class="wrapper">
        <div class="simple-page-heading">
            <h2 class="heading-title font_one wow fadeIn">Mazda 3 Hatchback 2020</h2>
            <p class="heading-description font_one wow fadeIn" data-wow-delay="100ms">Choose the model of your dreams
            </p>
        </div>

        <div class="model-features-wrapper">
            <div class="model-features-top">
                <div class="model-features-top-left wow fadeInUp" data-wow-delay="200ms">
                    <!-- Model tab content -->
                    <div class="model-tab-content fade-in-element">
                        <!-- Model image -->
                        <a href="#" class="model-image">
                            <img src="https://via.placeholder.com/1390x780" class="image-responsive"
                                alt="Mazda 3 Hatchback">
                        </a>
                    </div>

                    <!-- Model tab content -->
                    <div class="model-tab-content fade-in-element">
                        <!-- Model image -->
                        <a href="#" class="model-image">
                            <img src="https://via.placeholder.com/1390x780" class="image-responsive"
                                alt="Mazda 3 Hatchback">
                        </a>
                    </div>

                    <!-- Model tab content -->
                    <div class="model-tab-content fade-in-element">
                        <!-- Model image -->
                        <a href="#" class="model-image">
                            <img src="https://via.placeholder.com/1390x780" class="image-responsive"
                                alt="Mazda 3 Hatchback">
                        </a>
                    </div>

                    <!-- Model tab content -->
                    <div class="model-tab-content fade-in-element">
                        <!-- Model image -->
                        <a href="#" class="model-image">
                            <img src="https://via.placeholder.com/1390x780" class="image-responsive"
                                alt="Mazda 3 Hatchback">
                        </a>
                    </div>

                    <!-- Model tab content -->
                    <div class="model-tab-content fade-in-element">
                        <!-- Model image -->
                        <a href="#" class="model-image">
                            <img src="https://via.placeholder.com/1390x780" class="image-responsive"
                                alt="Mazda 3 Hatchback">
                        </a>
                    </div>

                    <!-- Model tab content -->
                    <div class="model-tab-content fade-in-element">
                        <!-- Model image -->
                        <a href="#" class="model-image">
                            <img src="https://via.placeholder.com/1390x780" class="image-responsive"
                                alt="Wleels for Mazda 3 Hatchback">
                        </a>
                    </div>

                    <!-- Model tab content -->
                    <div class="model-tab-content fade-in-element">
                        <!-- Model image -->
                        <a href="#" class="model-image">
                            <img src="https://via.placeholder.com/1390x780" class="image-responsive"
                                alt="Wleels for Mazda 3 Hatchback">
                        </a>
                    </div>

                    <!-- Models colors slider -->
                    <div class="color-filter owl-carousel owl-theme">
                        <!-- Main color for color filter -->
                        <div data-color="#1c3648" class="active model-tab color-item color-1c3648"></div>
                        <div data-color="#8f9192" class="model-tab color-item color-8f9192"></div>
                        <div data-color="#f21a1a" class="model-tab color-item color-f21a1a"></div>
                        <div data-color="#040b10" class="model-tab color-item color-040b10"></div>
                        <div data-color="#064803" class="model-tab color-item color-064803"></div>
                        <div data-color="#4e4e4e" class="model-tab color-item color-4e4e4e"></div>
                        <div data-color="#1c3648" class="model-tab color-item color-1c3648"></div>
                    </div>
                </div>
                <div class="model-features-top-right wow fadeInUp" data-wow-delay="300ms">
                    <div class="model-details">
                        <!--  Technical details -->
                        <div class="technical-details-box">
                            <dl class="technical-details-list">
                                <dt class="font_one">Brand:</dt>
                                <dd class="font_one">Mazda</dd>
                                <dt class="font_one">Model:</dt>
                                <dd class="font_one">Hatchback</dd>
                                <dt class="font_one">Power reserve:</dt>
                                <dd class="font_one">Until 300+ Hp</dd>
                                <dt class="font_one">Body type:</dt>
                                <dd class="font_one">Hatchback</dd>
                                <dt class="font_one">Year:</dt>
                                <dd class="font_one">2020</dd>
                                <dt class="font_one">Transmission:</dt>
                                <dd class="font_one">Auto</dd>
                                <dt class="font_one">State:</dt>
                                <dd class="font_one">New</dd>
                            </dl>
                        </div>
                        <div class="battery-box">
                            <img src="./assets/i/charching-icon.png" alt="lithium ion | 95 kW·h" class="battery-icon">
                            <div class="battery-info font_two">
                                <span>95 kW·h</span>
                                <span>lithium ion</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="model-features-bottom">
                <ul class="project-accordion font_two">
                    <li class="wow fadeInUpBig">
                        <a class="toggle" href="#">Key Features</a>
                        <div class="inner">
                            <ul>
                                <li>
                                    <small>
                                        Starting at
                                    </small>
                                    <span>
                                        $42,298
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        110 kW AC synchronous electric motor
                                    </small>
                                    <span>
                                        Standard
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        Maximum power (kW) (Per-formance Battery}
                                    </small>
                                    <span>
                                        40kWh
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        Fuel Economy
                                    </small>
                                    <span>
                                        2.4 / 1.9 - Highway / City
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        Machine-finished aluminum-alloy wheels
                                    </small>
                                    <span>
                                        17”
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        Navigation featuring Apple CarPlayTM and Android AutoTM [*]
                                    </small>
                                    <span>
                                        NissanConnect
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        Blind Spot Warning
                                    </small>
                                    <span>
                                        (BSW)
                                    </span>
                                </li>

                                <li>
                                    <small>
                                        Cover
                                    </small>
                                    <span>
                                        Cargo
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        Higher Throughput Quick Charge Port
                                    </small>
                                    <span>
                                        to 100kW
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="wow fadeInUpBig" data-wow-delay="100ms">
                        <a class="toggle" href="#">Consumprion (WLTP)*</a>
                        <div class="inner">
                            <p>
                                Sense child do state to defer mr of forty. Become latter but nor abroad wisdom waited.
                                Was delivered gentleman acuteness but daughters. In as of whole as match asked. Pleasure
                                exertion put add entrance distance drawings.
                            </p>
                            <p>
                                Marianne or husbands if at stronger ye. Considered is as middletons uncommonly.
                                Promotion perfectly ye consisted so. His chatty dining for effect ladies active. Equally
                                journey wishing not several behaved chapter she two sir.
                            </p>
                        </div>
                    </li>

                    <li class="wow fadeInUpBig" data-wow-delay="200ms">
                        <a class="toggle" href="#">Service and warranty</a>
                        <div class="inner">
                            <p>
                                Sense child do state to defer mr of forty. Become latter but nor abroad wisdom waited.
                                Was delivered gentleman acuteness but daughters. In as of whole as match asked. Pleasure
                                exertion put add entrance distance drawings.
                            </p>
                            <p>
                                Marianne or husbands if at stronger ye. Considered is as middletons uncommonly.
                                Promotion perfectly ye consisted so. His chatty dining for effect ladies active. Equally
                                journey wishing not several behaved chapter she two sir.
                            </p>
                            <p>
                                Marianne or husbands if at stronger ye. Considered is as middletons uncommonly.
                                Promotion perfectly ye consisted so. His chatty dining for effect ladies active. Equally
                                journey wishing not several behaved chapter she two sir.
                            </p>

                            <p>
                                Marianne or husbands if at stronger ye. Considered is as middletons uncommonly.
                                Promotion perfectly ye consisted so. His chatty dining for effect ladies active. Equally
                                journey wishing not several behaved chapter she two sir.
                            </p>
                        </div>
                    </li>

                    <li class="wow fadeInUpBig" data-wow-delay="300ms">
                        <a class="toggle" href="#">Range</a>
                        <div class="inner">
                            <ul>
                                <li>
                                    <small>
                                        Starting at
                                    </small>
                                    <span>
                                        $42,298
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        110 kW AC synchronous electric motor
                                    </small>
                                    <span>
                                        Standard
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        Maximum power (kW) (Per-formance Battery}
                                    </small>
                                    <span>
                                        40kWh
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        Fuel Economy
                                    </small>
                                    <span>
                                        2.4 / 1.9 - Highway / City
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        Machine-finished aluminum-alloy wheels
                                    </small>
                                    <span>
                                        17”
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        Navigation featuring Apple CarPlayTM and Android AutoTM [*]
                                    </small>
                                    <span>
                                        NissanConnect
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        Blind Spot Warning
                                    </small>
                                    <span>
                                        (BSW)
                                    </span>
                                </li>

                                <li>
                                    <small>
                                        Cover
                                    </small>
                                    <span>
                                        Cargo
                                    </span>
                                </li>
                                <li>
                                    <small>
                                        Higher Throughput Quick Charge Port
                                    </small>
                                    <span>
                                        to 100kW
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>