<section class="models-slider-widget">
    <!-- Simple page heading -->
    <div class="wrapper">
        <div class="simple-page-heading">
            <h2 class="heading-title font_one wow fadeIn">Cars Listing</h2>
            <p class="heading-description font_one wow fadeIn" data-wow-delay="100ms">Choose the model of your dreams
            </p>
        </div>
    </div>

    <!-- Models slider -->
    <div class="models-slider owl-carousel owl-theme" id="models-slider">
        <!-- model slide -->
        <a href="./model-single-01.html" class="slide wow fadeInUpBig" data-wow-delay="200ms">
            <div class="slide-header">
                <h3 class="model-name font_one">Porsche Taycan 4S</h3>
                <span class="model-price font_two">from $80,555.00</span>
            </div>
            <div class="model-content">
                <img src="https://via.placeholder.com/600x280" class="model-image" alt="Porsche Taycan 4S">
                <div class="model-details">
                    <ul class="technical-details-list">
                        <li>
                            <span class="font_two">4.0 s</span>
                            <small class="font_two">Acceleration 065 mph (0-120 km/h) Launch Control</small>
                        </li>
                        <li class="font_two">
                            <span class="font_two">Electric motor:</span>
                            <small class="font_two">2 x 200 PS (150 kW) 348 N</small>
                        </li>
                        <li class="font_two">
                            <span class="font_two">Electronically limited top speed</span>
                            <small class="font_two">124 mph (200 km/h)</small>
                        </li>
                    </ul>
                    <div class="battery-box">
                        <img src="./assets/i/charching-icon.png" alt="lithium ion | 90 kW·h" class="battery-icon">
                        <div class="battery-info font_two">
                            <span>90 kW·h</span>
                            <span>lithium ion</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- model slide -->
        <a href="./model-single-01.html" class="slide wow fadeInUpBig" data-wow-delay="300ms">
            <div class="slide-header">
                <h3 class="model-name font_one">Kia sorento prime</h3>
                <span class="model-price font_two">from $22,555.00</span>
            </div>
            <div class="model-content">
                <img src="https://via.placeholder.com/600x280" class="model-image" alt="Kia sorento prime">
                <div class="model-details">
                    <ul class="technical-details-list">
                        <li>
                            <span class="font_two">4.5 s</span>
                            <small class="font_two">Acceleration 065 mph (0-120 km/h) Launch Control</small>
                        </li>
                        <li class="font_two">
                            <span class="font_two">Electric motor:</span>
                            <small class="font_two">2 x 180 PS (135 kW) 320 N</small>
                        </li>
                        <li class="font_two">
                            <span class="font_two">Electronically limited top speed</span>
                            <small class="font_two">117 mph (190 km/h)</small>
                        </li>
                    </ul>
                    <div class="battery-box">
                        <img src="./assets/i/charching-icon.png" alt="lithium ion | 90 kW·h" class="battery-icon">
                        <div class="battery-info font_two">
                            <span>85 kW·h</span>
                            <span>lithium ion</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <!-- model slide -->
        <a href="./model-single-01.html" class="slide wow fadeInUpBig" data-wow-delay="400ms">
            <div class="slide-header">
                <h3 class="model-name font_one">Jaguar xf</h3>
                <span class="model-price font_two">from $22,555.00</span>
            </div>
            <div class="model-content">
                <img src="https://via.placeholder.com/600x280" class="model-image" alt="Jaguar xf">
                <div class="model-details">
                    <ul class="technical-details-list">
                        <li>
                            <span class="font_two">3.8 s</span>
                            <small class="font_two">Acceleration 085 mph (0-120 km/h) Launch Control</small>
                        </li>
                        <li class="font_two">
                            <span class="font_two">Electric motor:</span>
                            <small class="font_two">2 x 220 PS (170 kW) 320 N</small>
                        </li>
                        <li class="font_two">
                            <span class="font_two">Electronically limited top speed</span>
                            <small class="font_two">117 mph (190 km/h)</small>
                        </li>
                    </ul>
                    <div class="battery-box">
                        <img src="./assets/i/charching-icon.png" alt="lithium ion | 95 kW·h" class="battery-icon">
                        <div class="battery-info font_two">
                            <span>95 kW·h</span>
                            <span>lithium ion</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>