<section class="model-showcase-widget">
  <!-- Fullsize box -->
  <div
    class="fullwidth-single-box has-bottom-block wow fadeIn"
    id="model-showcase-image1"
  >
    <div
      class="model-text-box is-bottom-center wow fadeIn"
      data-wow-delay="200ms"
    >
      <h3 class="model-feature-title">04. Specifications</h3>
      <div class="model-feature-description">
        The power unit of the Fiat 500e is on the floor, the car's platform has
        been reduced, and the specific engine power is 111 horsepower or 83 kW,
        the torque is 199 Nm. The casing is made of materials of the highest
        quality, pleasant to the touch. The combination of white, black and
        orange perfectly emphasizes the advantages of the interior and its
        sophistication.
      </div>
    </div>
  </div>
  <!-- Double box -->
  <div class="double-box">
    <div
      class="double-left has-bottom-block wow fadeIn"
      id="model-showcase-image2"
    >
      <div
        class="model-text-box is-bottom-right wow fadeIn"
        data-wow-delay="200ms"
      >
        <h3 class="model-feature-title">05. Charging & Battery</h3>
        <div class="model-feature-description">
          <p>
            The electric motor is powered by a 24 kWh lithium-ion battery. The
            battery is divided into ninety-seven cells. Charging is done with a
            6.6 kW charger (SAE standard). A fully discharged battery from a
            standard network can be recharged in just 4 hours. Charge status
            information is always displayed on the instrument panel.
          </p>
          <p>
            The Fiat 500e does not have a fast charging function. The
            manufacturer claims that thanks to the braking energy recovery
            system, it is possible to recover some of the energy spent during
            the movement. This technology increases the mileage per charging
            cycle (up to 129 km on the highway, and up to 160 km in urban
            areas).
          </p>
        </div>
      </div>
    </div>
    <div class="double-right wow fadeIn" id="model-showcase-image3"></div>
  </div>

  <!-- Fullsize box -->
  <div
    class="fullwidth-single-box has-bottom-block wow fadeIn"
    id="model-showcase-image4"
  >
    <div
      class="model-text-box is-bottom-left wow fadeIn"
      data-wow-delay="200ms"
    >
      <h3 class="model-feature-title">06. Car interior</h3>
      <div class="model-feature-description">
        The casing is made of materials of the highest quality, pleasant to the
        touch. The combination of white, black and orange perfectly emphasizes
        the advantages of the interior and its sophistication. The downside is
        that there is a battery in the back of the car, so only children or very
        short people can feel comfortable in the back seat. But on the two front
        seats there is enough space for a convenient location of the passenger
        and the driver, regardless of their height and configuration.
      </div>
    </div>
  </div>

  <!-- Double box -->
  <div class="double-box">
    <div
      class="double-left has-center-center-block wow fadeIn"
      id="model-showcase-image5"
    ></div>
    <div class="double-right wow fadeIn">
      <div
        class="model-text-box is-flex-center-center wow fadeIn"
        data-wow-delay="200ms"
      >
        <h3 class="model-feature-title">07. Car Benefits</h3>
        <div class="model-feature-description">
          <p>
            Although a car powered by electricity is an order of magnitude
            quieter than analogs with an internal combustion engine, this was
            not enough for the developers, they equipped the Fiat 500e with a
            sound-absorbing panel, special mats, a new windshield and modernized
            door seals. Especially for this model, the programmers have
            developed a unique application for smartphones, thanks to which you
            can view statistics on energy consumption for previous trips from a
            distance, monitor the state of the car, turn on / off charging, plan
            your route so that there are definitely charging stations along the
            way.
          </p>
          <p>
            Fiat 500e electric car, price The cost of the car depends on various
            factors, therefore, to clarify the nuances, find out the price,
            contact our qualified specialists! They will help you choose the
            modification that is relevant for you and provide all the necessary
            information.
          </p>
          <a href="#test-drive-inner" class="btn-icon-right font_one">
            <span class="btn-icon-title">Order test drive</span>
            asd
            <span class="btn-icon-icon">
              <img
                src="./assets/i/icons/car-icon.svg"
                class="svg icon-car-front"
                alt="Car icon"
              />
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
