<section class="models-viewver-widget">
  <h2 class="models-viewver--title font_one wow fadeInUp">
    Electric cars available
  </h2>

  <div class="models-viewver-content">
    <!-- Model viever tabs -->
    <div class="model-viever-tabs-wrapper">
      <ul
        class="model-viever-tabs-list font_one wow fadeInUp"
        data-wow-delay="200ms"
      >
        <li class="active">
          <a href="#" class="model-viever--tab">Test drive</a>
        </li>
        <li>
          <a href="#" class="model-viever--tab">All models</a>
        </li>
      </ul>
    </div>

    <!-- Model viewver tabs content -->
    <div class="model-viewver-tabs-content">
      <!-- First tab -->
      <div class="model-viever-tab--content">
        <!-- Car list -->
        <ul class="car-list">
          <li class="wow fadeInUp" data-wow-delay="100ms">
            <div class="photobox photobox_base">
              <a
                href="./model-single-01.html"
                class="photobox__previewbox car-view"
              >
                <img
                  src="https://via.placeholder.com/425x245"
                  class="photobox__preview image-responsive"
                  alt="Preview"
                />
              </a>
            </div>
            <div class="car-details-box">
              <a href="./model-single-01.html" class="car-name"
                >Porche E-new 911</a
              >
              <div class="car-description-box">
                <div class="car-pasengers">
                  <img
                    src="./assets/i/home/icons/user-icn.png"
                    alt="Count passengers icon"
                  />
                  <span class="font_two">4</span>
                </div>
                <div class="car-fuel">
                  <img
                    src="./assets/i/home/icons/ecnt-icn.png"
                    alt="Car fuel icon"
                  />
                  <span class="font_two">Electric</span>
                </div>
                <div class="car-desc font_two">
                  Xenon headlights, LED daytime running lights and 19-inch alloy
                </div>
              </div>
              <div class="car-links">
                <a
                  href="./model-single-01.html"
                  class="explore-model-link font_one"
                  >Explore this model</a
                >
                <a href="#test-drive-inner" class="test-drive-link font_one"
                  >Test drive</a
                >
              </div>
            </div>
          </li>

          <li class="wow fadeInUp" data-wow-delay="200ms">
            <div class="photobox photobox_base">
              <a
                href="./model-single-01.html"
                class="photobox__previewbox car-view"
              >
                <img
                  src="https://via.placeholder.com/425x245"
                  class="photobox__preview image-responsive"
                  alt="Preview"
                />
              </a>
            </div>
            <div class="car-details-box">
              <a href="./model-single-01.html" class="car-name">
                Hyundai Tucson CDIs</a
              >
              <div class="car-description-box">
                <div class="car-pasengers">
                  <img
                    src="./assets/i/home/icons/user-icn.png"
                    alt="Count passengers icon"
                  />
                  <span class="font_two">4</span>
                </div>
                <div class="car-fuel">
                  <img
                    src="./assets/i/home/icons/ecnt-icn.png"
                    alt="Car fuel icon"
                  />
                  <span class="font_two">Electric</span>
                </div>
                <div class="car-desc font_two">
                  Xenon headlights, LED daytime running lights and 19-inch alloy
                </div>
              </div>
              <div class="car-links">
                <a
                  href="./model-single-01.html"
                  class="explore-model-link font_one"
                  >Explore this model</a
                >
                <a href="#test-drive-inner" class="test-drive-link font_one"
                  >Test drive</a
                >
              </div>
            </div>
          </li>

          <li class="wow fadeInUp" data-wow-delay="300ms">
            <div class="photobox photobox_base">
              <a
                href="./model-single-01.html"
                class="photobox__previewbox car-view"
              >
                <img
                  src="https://via.placeholder.com/425x245"
                  class="photobox__preview image-responsive"
                  alt="Preview"
                />
              </a>
            </div>
            <div class="car-details-box">
              <a href="./model-single-01.html" class="car-name"
                >Mercedes-Benz GLC350e</a
              >
              <div class="car-description-box">
                <div class="car-pasengers">
                  <img
                    src="./assets/i/home/icons/user-icn.png"
                    alt="Count passengers icon"
                  />
                  <span class="font_two">4</span>
                </div>
                <div class="car-fuel">
                  <img
                    src="./assets/i/home/icons/ecnt-icn.png"
                    alt="Car fuel icon"
                  />
                  <span class="font_two">Electric</span>
                </div>
                <div class="car-desc font_two">
                  Xenon headlights, LED daytime running lights and 19-inch alloy
                </div>
              </div>
              <div class="car-links">
                <a
                  href="./model-single-01.html"
                  class="explore-model-link font_one"
                  >Explore this model</a
                >
                <a href="#test-drive-inner" class="test-drive-link font_one"
                  >Test drive</a
                >
              </div>
            </div>
          </li>

          <li class="wow fadeInUp" data-wow-delay="400ms">
            <div class="photobox photobox_base">
              <a
                href="./model-single-01.html"
                class="photobox__previewbox car-view"
              >
                <img
                  src="https://via.placeholder.com/425x245"
                  class="photobox__preview image-responsive"
                  alt="Preview"
                />
              </a>
            </div>
            <div class="car-details-box">
              <a href="./model-single-01.html" class="car-name"
                >Kia E-Soul 2020</a
              >
              <div class="car-description-box">
                <div class="car-pasengers">
                  <img
                    src="./assets/i/home/icons/user-icn.png"
                    alt="Count passengers icon"
                  />
                  <span class="font_two">4</span>
                </div>
                <div class="car-fuel">
                  <img
                    src="./assets/i/home/icons/ecnt-icn.png"
                    alt="Car fuel icon"
                  />
                  <span class="font_two">Electric</span>
                </div>
                <div class="car-desc font_two">
                  Xenon headlights, LED daytime running lights and 19-inch alloy
                </div>
              </div>
              <div class="car-links">
                <a
                  href="./model-single-01.html"
                  class="explore-model-link font_one"
                  >Explore this model</a
                >
                <a href="#test-drive-inner" class="test-drive-link font_one"
                  >Test drive</a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Second tab -->
      <div class="model-viever-tab--content">
        <!-- Car list -->
        <ul class="car-list">
          <li class="wow fadeInUp" data-wow-delay="100ms">
            <div class="photobox photobox_base">
              <a
                href="./model-single-01.html"
                class="photobox__previewbox car-view"
              >
                <img
                  src="https://via.placeholder.com/425x245"
                  class="photobox__preview image-responsive"
                  alt="Preview"
                />
              </a>
            </div>
            <div class="car-details-box">
              <a href="./model-single-01.html" class="car-name"
                >Porche E-new 911</a
              >
              <div class="car-description-box">
                <div class="car-pasengers">
                  <img
                    src="./assets/i/home/icons/user-icn.png"
                    alt="Count passengers icon"
                  />
                  <span class="font_two">4</span>
                </div>
                <div class="car-fuel">
                  <img
                    src="./assets/i/home/icons/ecnt-icn.png"
                    alt="Car fuel icon"
                  />
                  <span class="font_two">Electric</span>
                </div>
                <div class="car-desc font_two">
                  Xenon headlights, LED daytime running lights and 19-inch alloy
                </div>
              </div>
              <div class="car-links">
                <a
                  href="./model-single-01.html"
                  class="explore-model-link font_one"
                  >Explore this model</a
                >
                <a href="#test-drive-inner" class="test-drive-link font_one"
                  >Test drive</a
                >
              </div>
            </div>
          </li>

          <li class="wow fadeInUp" data-wow-delay="200ms">
            <div class="photobox photobox_base">
              <a
                href="./model-single-01.html"
                class="photobox__previewbox car-view"
              >
                <img
                  src="https://via.placeholder.com/425x245"
                  class="photobox__preview image-responsive"
                  alt="Preview"
                />
              </a>
            </div>
            <div class="car-details-box">
              <a href="./model-single-01.html" class="car-name"
                >Kia E-Soul 2020</a
              >
              <div class="car-description-box">
                <div class="car-pasengers">
                  <img
                    src="./assets/i/home/icons/user-icn.png"
                    alt="Count passengers icon"
                  />
                  <span class="font_two">4</span>
                </div>
                <div class="car-fuel">
                  <img
                    src="./assets/i/home/icons/ecnt-icn.png"
                    alt="Car fuel icon"
                  />
                  <span class="font_two">Electric</span>
                </div>
                <div class="car-desc font_two">
                  Xenon headlights, LED daytime running lights and 19-inch alloy
                </div>
              </div>
              <div class="car-links">
                <a
                  href="./model-single-01.html"
                  class="explore-model-link font_one"
                  >Explore this model</a
                >
                <a href="#test-drive-inner" class="test-drive-link font_one"
                  >Test drive</a
                >
              </div>
            </div>
          </li>

          <li class="wow fadeInUp" data-wow-delay="300ms">
            <div class="photobox photobox_base">
              <a
                href="./model-single-01.html"
                class="photobox__previewbox car-view"
              >
                <img
                  src="https://via.placeholder.com/425x245"
                  class="photobox__preview image-responsive"
                  alt="Preview"
                />
              </a>
            </div>
            <div class="car-details-box">
              <a href="./model-single-01.html" class="car-name"
                >Mercedes-Benz GLC350e</a
              >
              <div class="car-description-box">
                <div class="car-pasengers">
                  <img
                    src="./assets/i/home/icons/user-icn.png"
                    alt="Count passengers icon"
                  />
                  <span class="font_two">4</span>
                </div>
                <div class="car-fuel">
                  <img
                    src="./assets/i/home/icons/ecnt-icn.png"
                    alt="Car fuel icon"
                  />
                  <span class="font_two">Electric</span>
                </div>
                <div class="car-desc font_two">
                  Xenon headlights, LED daytime running lights and 19-inch alloy
                </div>
              </div>
              <div class="car-links">
                <a
                  href="./model-single-01.html"
                  class="explore-model-link font_one"
                  >Explore this model</a
                >
                <a href="#test-drive-inner" class="test-drive-link font_one"
                  >Test drive</a
                >
              </div>
            </div>
          </li>

          <li class="wow fadeInUp" data-wow-delay="400ms">
            <div class="photobox photobox_base">
              <a
                href="./model-single-01.html"
                class="photobox__previewbox car-view"
              >
                <img
                  src="https://via.placeholder.com/425x245"
                  class="photobox__preview image-responsive"
                  alt="Preview"
                />
              </a>
            </div>
            <div class="car-details-box">
              <a href="./model-single-01.html" class="car-name">
                Hyundai Tucson CDIs</a
              >
              <div class="car-description-box">
                <div class="car-pasengers">
                  <img
                    src="./assets/i/home/icons/user-icn.png"
                    alt="Count passengers icon"
                  />
                  <span class="font_two">4</span>
                </div>
                <div class="car-fuel">
                  <img
                    src="./assets/i/home/icons/ecnt-icn.png"
                    alt="Car fuel icon"
                  />
                  <span class="font_two">Electric</span>
                </div>
                <div class="car-desc font_two">
                  Xenon headlights, LED daytime running lights and 19-inch alloy
                </div>
              </div>
              <div class="car-links">
                <a
                  href="./model-single-01.html"
                  class="explore-model-link font_one"
                  >Explore this model</a
                >
                <a href="#test-drive-inner" class="test-drive-link font_one"
                  >Test drive</a
                >
              </div>
            </div>
          </li>

          <li class="wow fadeInUp" data-wow-delay="100ms">
            <div class="photobox photobox_base">
              <a
                href="./model-single-01.html"
                class="photobox__previewbox car-view"
              >
                <img
                  src="https://via.placeholder.com/425x245"
                  class="photobox__preview image-responsive"
                  alt="Preview"
                />
              </a>
            </div>
            <div class="car-details-box">
              <a href="./model-single-01.html" class="car-name"
                >Kia E-Soul 2020</a
              >
              <div class="car-description-box">
                <div class="car-pasengers">
                  <img
                    src="./assets/i/home/icons/user-icn.png"
                    alt="Count passengers icon"
                  />
                  <span class="font_two">4</span>
                </div>
                <div class="car-fuel">
                  <img
                    src="./assets/i/home/icons/ecnt-icn.png"
                    alt="Car fuel icon"
                  />
                  <span class="font_two">Electric</span>
                </div>
                <div class="car-desc font_two">
                  Xenon headlights, LED daytime running lights and 19-inch alloy
                </div>
              </div>
              <div class="car-links">
                <a
                  href="./model-single-01.html"
                  class="explore-model-link font_one"
                  >Explore this model</a
                >
                <a href="#" class="test-drive-link font_one">Test drive</a>
              </div>
            </div>
          </li>

          <li class="wow fadeInUp" data-wow-delay="200ms">
            <div class="photobox photobox_base">
              <a
                href="./model-single-01.html"
                class="photobox__previewbox car-view"
              >
                <img
                  src="https://via.placeholder.com/425x245"
                  class="photobox__preview image-responsive"
                  alt="Preview"
                />
              </a>
            </div>
            <div class="car-details-box">
              <a href="./model-single-01.html" class="car-name"
                >Porche E-new 911</a
              >
              <div class="car-description-box">
                <div class="car-pasengers">
                  <img
                    src="./assets/i/home/icons/user-icn.png"
                    alt="Count passengers icon"
                  />
                  <span class="font_two">4</span>
                </div>
                <div class="car-fuel">
                  <img
                    src="./assets/i/home/icons/ecnt-icn.png"
                    alt="Car fuel icon"
                  />
                  <span class="font_two">Electric</span>
                </div>
                <div class="car-desc font_two">
                  Xenon headlights, LED daytime running lights and 19-inch alloy
                </div>
              </div>
              <div class="car-links">
                <a
                  href="./model-single-01.html"
                  class="explore-model-link font_one"
                  >Explore this model</a
                >
                <a href="#test-drive-inner" class="test-drive-link font_one"
                  >Test drive</a
                >
              </div>
            </div>
          </li>

          <li class="wow fadeInUp" data-wow-delay="300ms">
            <div class="photobox photobox_base">
              <a
                href="./model-single-01.html"
                class="photobox__previewbox car-view"
              >
                <img
                  src="https://via.placeholder.com/425x245"
                  class="photobox__preview image-responsive"
                  alt="Preview"
                />
              </a>
            </div>
            <div class="car-details-box">
              <a href="./model-single-01.html" class="car-name">
                Hyundai Tucson CDIs</a
              >
              <div class="car-description-box">
                <div class="car-pasengers">
                  <img
                    src="./assets/i/home/icons/user-icn.png"
                    alt="Count passengers icon"
                  />
                  <span class="font_two">4</span>
                </div>
                <div class="car-fuel">
                  <img
                    src="./assets/i/home/icons/ecnt-icn.png"
                    alt="Car fuel icon"
                  />
                  <span class="font_two">Electric</span>
                </div>
                <div class="car-desc font_two">
                  Xenon headlights, LED daytime running lights and 19-inch alloy
                </div>
              </div>
              <div class="car-links">
                <a
                  href="./model-single-01.html"
                  class="explore-model-link font_one"
                  >Explore this model</a
                >
                <a href="#test-drive-inner" class="test-drive-link font_one"
                  >Test drive</a
                >
              </div>
            </div>
          </li>

          <li class="wow fadeInUp" data-wow-delay="400ms">
            <div class="photobox photobox_base">
              <a
                href="./model-single-01.html"
                class="photobox__previewbox car-view"
              >
                <img
                  src="https://via.placeholder.com/425x245"
                  class="photobox__preview image-responsive"
                  alt="Preview"
                />
              </a>
            </div>
            <div class="car-details-box">
              <a href="./model-single-01.html" class="car-name"
                >Mercedes-Benz GLC350e</a
              >
              <div class="car-description-box">
                <div class="car-pasengers">
                  <img
                    src="./assets/i/home/icons/user-icn.png"
                    alt="Count passengers icon"
                  />
                  <span class="font_two">4</span>
                </div>
                <div class="car-fuel">
                  <img
                    src="./assets/i/home/icons/ecnt-icn.png"
                    alt="Car fuel icon"
                  />
                  <span class="font_two">Electric</span>
                </div>
                <div class="car-desc font_two">
                  Xenon headlights, LED daytime running lights and 19-inch alloy
                </div>
              </div>
              <div class="car-links">
                <a
                  href="./model-single-01.html"
                  class="explore-model-link font_one"
                  >Explore this model</a
                >
                <a href="#test-drive-inner" class="test-drive-link font_one"
                  >Test drive</a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
