<section class="model-builder-widget" id="model-builder-box">
    <div class="builder-top">
        <div class="model-preview">
            <!-- Model heading -->
            <div class="simple-page-heading font_one">
                <h2 class="heading-title wow fadeInLeftBig font_one">Mazda 3 Hatchback</h2>
                <div class="heading-description font_one model-data wow fadeInLeftBig" data-wow-delay="100ms">
                    <span>41 Hp</span> | <span>105.2 kW</span> | <span>143 PS</span>
                </div>
            </div>

            <!-- Model tab content -->
            <div class="model-tab-content fade-in-element">
                <!-- Model image -->
                <a href="#" class="model-image">
                    <img src="https://via.placeholder.com/1390x780" class="image-responsive" alt="Mazda 3 Hatchback">
                </a>
            </div>

            <!-- Model tab content -->
            <div class="model-tab-content fade-in-element">
                <!-- Model image -->
                <a href="#" class="model-image">
                    <img src="https://via.placeholder.com/1390x780" class="image-responsive" alt="Mazda 3 Hatchback">
                </a>
            </div>

            <!-- Model tab content -->
            <div class="model-tab-content fade-in-element">
                <!-- Model image -->
                <a href="#" class="model-image">
                    <img src="https://via.placeholder.com/1390x780" class="image-responsive" alt="Mazda 3 Hatchback">
                </a>
            </div>

            <!-- Model tab content -->
            <div class="model-tab-content fade-in-element">
                <!-- Model image -->
                <a href="#" class="model-image">
                    <img src="https://via.placeholder.com/1390x780" class="image-responsive" alt="Mazda 3 Hatchback">
                </a>
            </div>

            <!-- Model tab content -->
            <div class="model-tab-content fade-in-element">
                <!-- Model image -->
                <a href="#" class="model-image">
                    <img src="https://via.placeholder.com/1390x780g" class="image-responsive" alt="Mazda 3 Hatchback">
                </a>
            </div>

            <!-- Model tab content -->
            <div class="model-tab-content fade-in-element">
                <!-- Model image -->
                <a href="#" class="model-image">
                    <img src="https://via.placeholder.com/1390x780" class="image-responsive"
                        alt="Wleels for Mazda 3 Hatchback">
                </a>
            </div>

            <!-- Model tab content -->
            <div class="model-tab-content fade-in-element">
                <!-- Model image -->
                <a href="#" class="model-image">
                    <img src="https://via.placeholder.com/1390x780" class="image-responsive"
                        alt="Wleels for Mazda 3 Hatchback">
                </a>
            </div>
        </div>
    </div>

    <div class="builder-bottom">
        <!-- Wheel filter-->
        <div class="filter-item wheel-filter wow fadeInUp" data-wow-delay="200">
            <div class="filter-heading font_one">Wheels</div>
            <ul class="wheels-list">
                <li class="active" data-wheel="235x65">
                    <img src="https://via.placeholder.com/130x130" class="wheel-image image-responsive"
                        alt='235 / 65 / 17"'>
                    <div class="selection-bullet"></div>
                    <div class="wheel-size font_two">235x65 / 17"</div>
                </li>
                <li data-wheel="235x60">
                    <img src="https://via.placeholder.com/130x130" class="wheel-image image-responsive"
                        alt='235 / 60 / 18"'>
                    <div class="selection-bullet"></div>
                    <div class="wheel-size font_two">235x60 / 18"</div>
                </li>
                <li data-wheel="235x55">
                    <img src="https://via.placeholder.com/130x130" class="wheel-image image-responsive"
                        alt='235 / 60 / 18"'>
                    <div class="selection-bullet"></div>
                    <div class="wheel-size font_two">235x55 / 19"</div>
                </li>
            </ul>
        </div>

        <!-- Color filter -->
        <div class="filter-item color-filter-wrap wow fadeInUp" data-wow-delay="300ms">
            <div class="filter-heading font_one">Color</div>
            <div class="color-filter owl-carousel owl-theme">
                <!-- Main color for color filter -->
                <div data-color="1c3648" class="active model-tab color-item color-1c3648"></div>
                <div data-color="8f9192" class="model-tab color-item color-8f9192"></div>
                <div data-color="f21a1a" class="model-tab color-item color-f21a1a"></div>
                <div data-color="040b10" class="model-tab color-item color-040b10"></div>
                <div data-color="064803" class="model-tab color-item color-064803"></div>
                <div data-color="4e4e4e" class="model-tab color-item color-4e4e4e"></div>
                <div data-color="1c3648" class="model-tab color-item color-1c3648"></div>
            </div>
        </div>

        <!-- Engine filter -->
        <div class="filter-item engine-filter wow fadeInUp" data-wow-delay="400ms">
            <div class="filter-heading font_one">Engine</div>
            <ul class="engines-list">
                <li class="active" data-engine="250x125">
                    <img src="https://via.placeholder.com/165x155" class="engine-image image-responsive"
                        alt="Engine for Mazda 3 Hatchback">
                    <div class="selection-bullet"></div>
                    <div class="engine-details font_two">
                        <div>Engine: 250 Nm | 125 kW</div>
                        <div>Type: Lthium-ion polymer</div>
                    </div>
                </li>
                <li data-engine="220x115">
                    <img src="https://via.placeholder.com/165x155" class="engine-image image-responsive"
                        alt="Engine for Mazda 3 Hatchback">
                    <div class="selection-bullet"></div>
                    <div class="engine-details font_two">
                        <div>Engine: 220 Nm | 115 kW</div>
                        <div>Type: Lthium-ion polymer</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>