<section class="model-desription-widget">
  <!-- First model fuature -->
  <div class="model-feature-block widget-line-left">
    <div class="wrapper">
      <div class="model-feature-text wow fadeIn">
        <h3 class="model-feature-title">01. Model presentation</h3>
        <div class="model-feature-description">
          The design of this brand is the embodiment of a harmonious combination
          of modern technologies, environmental friendliness and exquisite
          appearance. The 500e is not much different from its predecessor with
          internal combustion engines (internal combustion engine), but the
          changes can be noticed immediately: the rear of the car has a wider
          spoiler, and the air intake grille is not shaped like a smile.
        </div>
      </div>
      <div class="model-preview-box wow fadeIn" data-wow-delay="200ms">
        <img src="https://via.placeholder.com/640x360" class="image-responsive model-preview-image" alt="Fiat 500e" />
      </div>
    </div>
  </div>

  <!-- Second model feature -->
  <div class="model-feature-block widget-line-right">
    <div class="wrapper">
      <div class="model-feature-text wow fadeIn" data-wow-delay="200ms">
        <h3 class="model-feature-title">02. Minimalist design</h3>
        <div class="model-feature-description">
          The striking, emotional, dynamic appearance of the Fiat 500e won the
          hearts of many users. Externally, the FIAT 500E practically does not
          differ from its gasoline brother, with the exception of some details:
          the air intake grille, specific rims, bumpers and an aerodynamic
          spoiler. This added a special zest to the look of the Italian and you
          can be sure that many will turn to throw another look after the FIAT
          500E.
        </div>
      </div>
      <div class="model-preview-box wow fadeIn">
        <img src="https://via.placeholder.com/640x360" class="image-responsive model-preview-image" alt="Fiat 500e" />
      </div>
    </div>
  </div>

  <!-- Third model feeature -->
  <div class="model-feature-block widget-line-left">
    <div class="wrapper">
      <div class="model-feature-text wow fadeIn">
        <h3 class="model-feature-title">03. Car interior</h3>
        <div class="model-feature-description">
          The casing is made of materials of the highest quality, pleasant to
          the touch. The combination of white, black and orange perfectly
          emphasizes the advantages of the interior and its sophistication. The
          downside is that there is a battery in the back of the car, so only
          children or very short people can feel comfortable in the back seat.
          But on the two front seats there is enough space for a convenient
          location of the passenger and the driver, regardless of their height
          and configuration.
        </div>
      </div>
      <div class="model-preview-box wow fadeIn" data-wow-delay="200ms">
        <img src="https://via.placeholder.com/640x360" class="image-responsive model-preview-image" alt="Fiat 500e" />
      </div>
    </div>
  </div>
</section>