<section class="models-widget">
  <div class="wrapper">
    <div class="simple-page-heading">
      <h2 class="heading-title font_one wow fadeIn">Best sellers</h2>
      <p class="heading-description font_one wow fadeIn" data-wow-delay="100ms">
        Available models of electric cars
      </p>
    </div>
  </div>
  <!-- Start widgets body -->
  <div class="brands-list">
    <!-- Brand item -->
    <div class="brand-item">
      <header class="brand-header wow fadeIn" data-wow-delay="200ms">
        <div class="wrapper">
          <div class="model-brand">
            <img
              src="https://via.placeholder.com/40x40"
              class="model-logo"
              alt="Audi"
            />
            <div class="model-brand-name font_one">Audi</div>
          </div>
          <div class="model-info">
            <h3 class="model-title font_one">
              Changes the world. But everyday life
            </h3>
            <p class="model-description font_one">
              Audi is working hard to develop the mobility of the future
            </p>
          </div>
          <a href="#" class="all-models font_one"> View available cars </a>
        </div>
      </header>
      <ul class="models-list">
        <li>
          <div class="model-item">
            <div class="wrapper">
              <div class="model-preview-box wow fadeIn" data-wow-delay="300ms">
                <a href="./model-single-1.html">
                  <img
                    src="https://via.placeholder.com/640x285"
                    alt="Audi"
                    class="model-preview image-responsive"
                  />
                </a>
              </div>
              <div
                class="model-tech-info-box wow fadeIn"
                data-wow-delay="400ms"
              >
                <header class="model-tech-info-header">
                  <div class="model-heading">
                    <h2 class="model-title font_one">
                      <a href="./model-single-1.html"> Audi E-tron </a>
                    </h2>
                    <span class="model-subtitle font_one">
                      Style and power in one bottle
                    </span>
                  </div>
                  <div class="item-label is-available">
                    <div class="item-label-icon">
                      <img
                        src="./assets/i/icons/check-icon.svg"
                        class="svg check-icon"
                        alt="Check icon"
                      />
                    </div>
                    <div class="item-label-title font_one">Available</div>
                  </div>
                </header>
                <div class="model-tech-info-content">
                  <ul class="model-tech-list">
                    <li>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/road-icon.svg"
                            class="svg icon-race-track"
                            alt="Road icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            <small>to</small>
                            259
                            <small>mi</small>
                          </div>
                          <div class="feature-subtitle font_one">
                            Power reserve
                          </div>
                        </div>
                      </div>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/speedometer-icon.svg"
                            class="svg icon-speedometer"
                            alt="Speedometer icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            124
                            <small>mi</small>
                          </div>
                          <div class="feature-subtitle font_one">Max speed</div>
                        </div>
                      </div>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/engine-icon.svg"
                            class="svg engine-icon"
                            alt="Engine icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            360
                            <small>hp</small>
                          </div>
                          <div class="feature-subtitle font_one">
                            Engine power
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/battery-icon.svg"
                            class="svg icon-battery"
                            alt="Battery icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            95
                            <small>kw/h</small>
                          </div>
                          <div class="feature-subtitle font_one">Battery</div>
                        </div>
                      </div>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/speed-icon.svg"
                            class="svg speed-icon"
                            alt="Speed icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            6.7
                            <small>mi</small>
                          </div>
                          <div class="feature-subtitle font_one">
                            Speed-up to 100
                          </div>
                        </div>
                      </div>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/turbo-icon.svg"
                            class="svg turbo-icon"
                            alt="Turbo icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            265
                            <small>kW</small>
                          </div>
                          <div class="feature-subtitle font_one">
                            Electric motor
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="action-btn-wrapper">
                    <a
                      href="#test-drive-inner"
                      class="btn-icon-right btn-test-drive font_one"
                    >
                      <span class="btn-icon-title">Order test drive</span>
                      <span class="btn-icon-icon">
                        <img
                          src="./assets/i/icons/car-icon.svg"
                          class="svg icon-car-front"
                          alt="Car icon"
                        />
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- End widgets body -->

  <!-- Start widgets body -->
  <div class="brands-list">
    <!-- Brand item -->
    <div class="brand-item">
      <header class="brand-header wow fadeIn" data-wow-delay="200ms">
        <div class="wrapper">
          <div class="model-brand">
            <img
              src="https://via.placeholder.com/40x40"
              class="model-logo"
              alt="BMW"
            />
            <div class="model-brand-name font_one">BMW</div>
          </div>
          <div class="model-info">
            <h3 class="model-title font_one">Electrify inspiration</h3>
            <p class="model-description font_one">
              BMW is shaping the future of electric mobility
            </p>
          </div>
          <a href="#" class="all-models font_one"> View available cars </a>
        </div>
      </header>
      <ul class="models-list">
        <li>
          <div class="model-item">
            <div class="wrapper">
              <div class="model-preview-box wow fadeIn" data-wow-delay="300ms">
                <a href="./model-single-1.html">
                  <img
                    src="https://via.placeholder.com/640x285"
                    alt="BMW"
                    class="model-preview image-responsive"
                  />
                </a>
              </div>
              <div
                class="model-tech-info-box wow fadeIn"
                data-wow-delay="400ms"
              >
                <header class="model-tech-info-header">
                  <div class="model-heading">
                    <h2 class="model-title font_one">
                      <a href="./model-single-1.html"> BMW IX </a>
                    </h2>
                    <span class="model-subtitle font_one">
                      Electric crossover of the new era
                    </span>
                  </div>
                  <div class="item-label in-progress">
                    <div class="item-label-icon">
                      <img
                        src="./assets/i/icons/wheel-icon.svg"
                        class="svg wheel-icon"
                        alt="Wheel icon"
                      />
                    </div>
                    <div class="item-label-title font_one">In the way</div>
                  </div>
                </header>
                <div class="model-tech-info-content">
                  <ul class="model-tech-list">
                    <li>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/road-icon.svg"
                            class="svg icon-race-track"
                            alt="Road icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            <small>to</small>
                            285
                            <small>mi</small>
                          </div>
                          <div class="feature-subtitle font_one">
                            Power reserve
                          </div>
                        </div>
                      </div>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/speedometer-icon.svg"
                            class="svg icon-speedometer"
                            alt="Speedometer icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            124
                            <small>mi</small>
                          </div>
                          <div class="feature-subtitle font_one">Max speed</div>
                        </div>
                      </div>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/engine-icon.svg"
                            class="svg engine-icon"
                            alt="Engine icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            373
                            <small>hp</small>
                          </div>
                          <div class="feature-subtitle font_one">
                            Engine power
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/battery-icon.svg"
                            class="svg icon-battery"
                            alt="Battery icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            78
                            <small>kw/h</small>
                          </div>
                          <div class="feature-subtitle font_one">Battery</div>
                        </div>
                      </div>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/speed-icon.svg"
                            class="svg speed-icon"
                            alt="Speed icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            5.1
                            <small>mi</small>
                          </div>
                          <div class="feature-subtitle font_one">
                            Speed-up to 100
                          </div>
                        </div>
                      </div>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/turbo-icon.svg"
                            class="svg turbo-icon"
                            alt="Turbo icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            273
                            <small>kW</small>
                          </div>
                          <div class="feature-subtitle font_one">
                            Electric motor
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="action-btn-wrapper">
                    <a
                      href="#test-drive-inner"
                      class="btn-icon-right btn-test-drive font_one"
                    >
                      <span class="btn-icon-title">Order test drive</span>
                      <span class="btn-icon-icon">
                        <img
                          src="./assets/i/icons/car-icon.svg"
                          class="svg icon-car-front"
                          alt="Car icon"
                        />
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- End widgets body -->

  <!-- Start widgets body -->
  <div class="brands-list">
    <!-- Brand item -->
    <div class="brand-item">
      <header class="brand-header wow fadeIn" data-wow-delay="200ms">
        <div class="wrapper">
          <div class="model-brand">
            <img
              src="https://via.placeholder.com/40x40"
              class="model-logo"
              alt="Fiat"
            />
            <div class="model-brand-name font_one">Fiat</div>
          </div>
          <div class="model-info">
            <h3 class="model-title font_one">
              The perfect solution for a big city
            </h3>
            <p class="model-description font_one">FIAT. Driven by passion</p>
          </div>
          <a href="#" class="all-models font_one"> View available cars </a>
        </div>
      </header>
      <ul class="models-list">
        <li>
          <div class="model-item">
            <div class="wrapper">
              <div class="model-preview-box wow fadeIn" data-wow-delay="300ms">
                <a href="./model-single-1.html">
                  <img
                    src="https://via.placeholder.com/640x285"
                    alt="Fiat"
                    class="model-preview image-responsive"
                  />
                </a>
              </div>
              <div
                class="model-tech-info-box wow fadeIn"
                data-wow-delay="400ms"
              >
                <header class="model-tech-info-header">
                  <div class="model-heading">
                    <h2 class="model-title font_one">
                      <a href="./model-single-1.html"> Fiat 500e </a>
                    </h2>
                    <span class="model-subtitle font_one">
                      Electric mini cooper for big city
                    </span>
                  </div>
                  <div class="item-label is-available">
                    <div class="item-label-icon">
                      <img
                        src="./assets/i/icons/check-icon.svg"
                        class="svg check-icon"
                        alt="Check icon"
                      />
                    </div>
                    <div class="item-label-title font_one">Available</div>
                  </div>
                </header>
                <div class="model-tech-info-content">
                  <ul class="model-tech-list">
                    <li>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/road-icon.svg"
                            class="svg icon-race-track"
                            alt="Road icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            <small>to</small>
                            225
                            <small>mi</small>
                          </div>
                          <div class="feature-subtitle font_one">
                            Power reserve
                          </div>
                        </div>
                      </div>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/speedometer-icon.svg"
                            class="svg icon-speedometer"
                            alt="Speedometer icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            96
                            <small>mi</small>
                          </div>
                          <div class="feature-subtitle font_one">Max speed</div>
                        </div>
                      </div>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/engine-icon.svg"
                            class="svg engine-icon"
                            alt="Engine icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            285
                            <small>hp</small>
                          </div>
                          <div class="feature-subtitle font_one">
                            Engine power
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/battery-icon.svg"
                            class="svg icon-battery"
                            alt="Battery icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            64
                            <small>kw/h</small>
                          </div>
                          <div class="feature-subtitle font_one">Battery</div>
                        </div>
                      </div>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/speed-icon.svg"
                            class="svg speed-icon"
                            alt="Speed icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            8.2
                            <small>mi</small>
                          </div>
                          <div class="feature-subtitle font_one">
                            Speed-up to 100
                          </div>
                        </div>
                      </div>
                      <div class="model-feature-item">
                        <div class="feature-icon">
                          <img
                            src="./assets/i/icons/turbo-icon.svg"
                            class="svg turbo-icon"
                            alt="Turbo icon"
                          />
                        </div>
                        <div class="feature-text">
                          <div class="feature-title font_one">
                            185
                            <small>kW</small>
                          </div>
                          <div class="feature-subtitle font_one">
                            Electric motor
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="action-btn-wrapper">
                    <a
                      href="#test-drive-inner"
                      class="btn-icon-right btn-test-drive font_one"
                    >
                      <span class="btn-icon-title">Order test drive</span>
                      <span class="btn-icon-icon">
                        <img
                          src="./assets/i/icons/car-icon.svg"
                          class="svg icon-car-front"
                          alt="Car icon"
                        />
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- End widgets body -->
</section>
