<section class="new-models-widget">
    <!-- Simple page heading -->
    <div class="wrapper">
        <div class="simple-page-heading">
            <h2 class="heading-title font_one wow fadeIn">New models</h2>
            <p class="heading-description font_one wow fadeIn" data-wow-delay="100ms">The future has been our
                destination</p>
        </div>

        <div class="new-models-gallery">
            <ul id="new-model-vertical-list" class="wow fadeInUp" data-wow-delay="200ms">
                <!-- New model slide -->
                <li data-thumb="https://via.placeholder.com/675x510">
                    <a href="./model-single.html">
                        <img src="https://via.placeholder.com/675x510" class="img-responsive"
                            alt="Mercedes-Benz GLC350e" />
                        <div class="model-data">
                            <div class="model-name font_one">
                                Mercedes GLC350e
                            </div>
                            <div class="model-price font_two">
                                $55,555.00
                            </div>
                        </div>
                    </a>
                </li>
                <!-- New model slide -->
                <li data-thumb="https://via.placeholder.com/675x510">
                    <a href="./model-single.html">
                        <img src="https://via.placeholder.com/675x510" class="img-responsive" alt="PJaguar xf" />
                        <div class="model-data">
                            <div class="model-name font_one">
                                Hyundai Tucson
                            </div>
                            <div class="model-price font_two">
                                $21,990.00
                            </div>
                        </div>
                    </a>
                </li>
                <!-- New model slide -->
                <li data-thumb="https://via.placeholder.com/675x510">
                    <a href="./model-single.html">
                        <img src="https://via.placeholder.com/675x510" class="img-responsive"
                            alt="Porsche Macan GTX 320" />
                        <div class="model-data">
                            <div class="model-name font_one">
                                Porsche Macan 320
                            </div>
                            <div class="model-price font_two">
                                $22,555.00
                            </div>
                        </div>
                    </a>
                </li>
                <!-- New model slide -->
                <li data-thumb="https://via.placeholder.com/675x510">
                    <a href="./model-single.html">
                        <img src="https://via.placeholder.com/675x510" class="img-responsive"
                            alt="Mercedes-Benz GLC350e" />
                        <div class="model-data">
                            <div class="model-name font_one">
                                Jaguar xf
                            </div>
                            <div class="model-price font_two">
                                $54,555.00
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>