<div class="new-arrivals-widget">
  <div class="wrapper">
    <div class="simple-page-heading">
      <h2 class="heading-title font_one wow fadeIn">New arrivals</h2>
      <p class="heading-description font_one wow fadeIn" data-wow-delay="100ms">
        The future has been our destination
      </p>
    </div>

    <div class="new-arrivals-slider wow fadeInUp" data-wow-delay="200ms">
      <!-- Model slide -->
      <div class="model-slide">
        <header class="model-slide-header">
          <h3 class="model-title">
            <a href="/model-single.html"> 2018 Tesla Model 3 ARW Europe </a>
          </h3>
          <table class="model-table">
            <tbody>
              <tr class="item-list__row font_one">
                <th class="item-list__title">Car price:</th>
                <td class="item-list__text is-green">$32500</td>
              </tr>
              <tr class="item-list__row font_one">
                <th class="item-list__title">Mileage:</th>
                <td class="item-list__text">14900 mi</td>
              </tr>
              <tr class="item-list__row font_one">
                <th class="item-list__title">Year:</th>
                <td class="item-list__text">2018</td>
              </tr>
            </tbody>
          </table>
        </header>
        <div class="model-slide-preview">
          <a href="#">
            <img
              src="https://via.placeholder.com/850x780"
              class="image-responsive"
              alt="2018 Tesla Model 3 ARW Europe"
            />
          </a>
        </div>
        <footer class="model-slide-footer">
          <a href="#test-drive-inner" class="footer-btn font_one">Test Drive</a>
          <a href="/model-single.html" class="footer-btn font_one">View more</a>
        </footer>
      </div>

      <!-- Model slide -->
      <div class="model-slide">
        <header class="model-slide-header">
          <h3 class="model-title">
            <a href="/model-single.html"> 2017 Mercedes EQC Long Range </a>
          </h3>
          <table class="model-table">
            <tbody>
              <tr class="item-list__row font_one">
                <th class="item-list__title">Car price:</th>
                <td class="item-list__text is-green">$28000</td>
              </tr>
              <tr class="item-list__row font_one">
                <th class="item-list__title">Mileage:</th>
                <td class="item-list__text">38000 mi</td>
              </tr>
              <tr class="item-list__row font_one">
                <th class="item-list__title">Year:</th>
                <td class="item-list__text">2017</td>
              </tr>
            </tbody>
          </table>
        </header>
        <div class="model-slide-preview">
          <a href="#">
            <img
              src="https://via.placeholder.com/850x780"
              class="image-responsive"
              alt="2017 Mercedes EQC Long Range"
            />
          </a>
        </div>
        <footer class="model-slide-footer">
          <a href="#test-drive-inner" class="footer-btn font_one">Test Drive</a>
          <a href="/model-single.html" class="footer-btn font_one">View more</a>
        </footer>
      </div>

      <!-- Model slide -->
      <div class="model-slide">
        <header class="model-slide-header">
          <h3 class="model-title">
            <a href="/model-single.html">
              Tesla Model 3 Long Range AWD Europe
            </a>
          </h3>
          <table class="model-table">
            <tbody>
              <tr class="item-list__row font_one">
                <th class="item-list__title">Car price:</th>
                <td class="item-list__text is-green">$61 800</td>
              </tr>
              <tr class="item-list__row font_one">
                <th class="item-list__title">Mileage:</th>
                <td class="item-list__text">3000 mi</td>
              </tr>
              <tr class="item-list__row font_one">
                <th class="item-list__title">Year:</th>
                <td class="item-list__text">2020</td>
              </tr>
            </tbody>
          </table>
        </header>
        <div class="model-slide-preview">
          <a href="#">
            <img
              src="https://via.placeholder.com/850x780"
              class="image-responsive"
              alt="Tesla Model 3 Long Range AWD Europe"
            />
          </a>
        </div>
        <footer class="model-slide-footer">
          <a href="#test-drive-inner" class="footer-btn font_one">Test Drive</a>
          <a href="/model-single.html" class="footer-btn font_one">View more</a>
        </footer>
      </div>

      <!-- Model slide -->
      <div class="model-slide">
        <header class="model-slide-header">
          <h3 class="model-title">
            <a href="/model-single.html"> 2014 BMW Giga Limited Edition </a>
          </h3>
          <table class="model-table">
            <tbody>
              <tr class="item-list__row font_one">
                <th class="item-list__title">Car price:</th>
                <td class="item-list__text is-green">$19500</td>
              </tr>
              <tr class="item-list__row">
                <th class="item-list__title">Mileage:</th>
                <td class="item-list__text">30700 mi</td>
              </tr>
              <tr class="item-list__row">
                <th class="item-list__title">Year:</th>
                <td class="item-list__text">2014</td>
              </tr>
            </tbody>
          </table>
        </header>
        <div class="model-slide-preview">
          <a href="#">
            <img
              src="https://via.placeholder.com/850x780"
              class="image-responsive"
              alt="BMW Giga Limited Edition"
            />
          </a>
        </div>
        <footer class="model-slide-footer">
          <a href="#test-drive-inner" class="footer-btn font_one">Test Drive</a>
          <a href="/model-single.html" class="footer-btn font_one">View more</a>
        </footer>
      </div>

      <!-- Model slide -->
      <div class="model-slide">
        <header class="model-slide-header">
          <h3 class="model-title">
            <a href="/model-single.html"> 2015 BMW i3 Terra Limited Edition </a>
          </h3>
          <table class="model-table">
            <tbody>
              <tr class="item-list__row font_one">
                <th class="item-list__title">Car price:</th>
                <td class="item-list__text is-green">$32000</td>
              </tr>
              <tr class="item-list__row">
                <th class="item-list__title">Mileage:</th>
                <td class="item-list__text">12500 mi</td>
              </tr>
              <tr class="item-list__row">
                <th class="item-list__title">Year:</th>
                <td class="item-list__text">2015</td>
              </tr>
            </tbody>
          </table>
        </header>
        <div class="model-slide-preview">
          <a href="#">
            <img
              src="https://via.placeholder.com/850x780"
              class="image-responsive"
              alt=" 2015 BMW i3 Terra Limited Edition"
            />
          </a>
        </div>
        <footer class="model-slide-footer">
          <a href="#test-drive-inner" class="footer-btn font_one">Test Drive</a>
          <a href="/model-single.html" class="footer-btn font_one">View more</a>
        </footer>
      </div>

      <!-- Model slide -->
      <div class="model-slide">
        <header class="model-slide-header">
          <h3 class="model-title">
            <a href="/model-single.html"> 2020 Tesla Model Y Lond Range AWD </a>
          </h3>
          <table class="model-table">
            <tbody>
              <tr class="item-list__row font_one">
                <th class="item-list__title">Car price:</th>
                <td class="item-list__text is-green">$62000</td>
              </tr>
              <tr class="item-list__row">
                <th class="item-list__title">Mileage:</th>
                <td class="item-list__text">20150 mi</td>
              </tr>
              <tr class="item-list__row">
                <th class="item-list__title">Year:</th>
                <td class="item-list__text">2020</td>
              </tr>
            </tbody>
          </table>
        </header>
        <div class="model-slide-preview">
          <a href="#">
            <img
              src="https://via.placeholder.com/850x780"
              class="image-responsive"
              alt="2020 Tesla Model Y Lond Range AWD"
            />
          </a>
        </div>
        <footer class="model-slide-footer">
          <a href="#test-drive-inner" class="footer-btn font_one">Test Drive</a>
          <a href="/model-single.html" class="footer-btn font_one">View more</a>
        </footer>
      </div>
    </div>
  </div>
</div>
