<section class="our-advantages-widget">
    <div class="wrapper">
        <div class="simple-page-heading">
            <h2 class="heading-title font_one wow fadeIn">Why choose us</h2>
            <p class="heading-description font_one wow fadeIn" data-wow-delay="100ms">The future has been our
                destination</p>
        </div>
        <div class="advantages-box wow fadeInUp" data-wow-delay="200ms">
            <div class="advantage-item advantage-type1 active grid-item md-mr10 wow">
                <div class="advantage-text">
                    <div class="advantage-number font_one">
                        01
                    </div>
                    <div class="advantage-title font_one">
                        Harmony of the design concept
                    </div>
                    <div class="advantage-description font_one">
                        Leap lorem Ipsum is simply dumdgmyd text the printin k a galley of type afend bled it to make a
                        type specimenbook.
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="https://via.placeholder.com/350x270" class="image-responsive"
                        alt="Harmony of the design concept">
                </div>
            </div>

            <div class="advantage-item advantage-type4 grid-item">
                <div class="advantage-text">
                    <div class="advantage-number font_one">
                        04
                    </div>
                    <div class="advantage-title font_one">
                        Unique attitude to life
                    </div>
                    <div class="advantage-description font_one">
                        Leap lorem Ipsum is simply dummyd text the printin k a galley of type and bled it to make a type
                        specimenbook.
                        but also the into.Leap lorem Ipsum is simply dummyd text the printin k a galley of type and bled
                        it to make a
                    </div>
                </div>
            </div>

            <div class="advantage-item advantage-type2 grid-item md-mr10 sm-mr0 sm-ml10">
                <div class="advantage-text">
                    <div class="advantage-number font_one">
                        02
                    </div>
                    <div class="advantage-title font_one">
                        Unique dream
                    </div>
                    <div class="advantage-description font_one">
                        Leap lorem Ipsum is simply dumdgmyd text the pri ...
                    </div>
                </div>
                <div class="img-wrap">
                    <img src="https://via.placeholder.com/210x260" class="image-responsive" alt="Unique dream">
                </div>
            </div>

            <div class="advantage-item advantage-type3 grid-item md-mr10">
                <div class="advantage-text">
                    <div class="advantage-number font_one">
                        03
                    </div>
                    <div class="advantage-title font_one">
                        Always follows function
                    </div>
                    <div class="advantage-description font_one">
                        Leap lorem Ipsum is simply dummyd text the printin k a galley of type and bled it to make a type
                        ...
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="https://via.placeholder.com/460x270" class="image-responsive" alt="Unique dream">
                </div>
            </div>

            <div class="advantage-item advantage-type5 grid-item">
                <div class="advantage-text">
                    <div class="advantage-number font_one">
                        05
                    </div>
                    <div class="advantage-title font_one">
                        Design follows function
                    </div>
                    <div class="advantage-description font_one">
                        Leap lorem Ipsum is simply dummyd text the printin k a galley of type and bled it to make a type
                        specimenbook.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>