<section class="our-team-widget">
    <div class="our-team-bg">
        <img src="./assets/i/our-team.png" class="image-responsive" alt="Background image for our team widget">
    </div>
    <div class="our-team-features-inner">
        <div class="simple-page-heading">
            <h2 class="heading-title font_one wow fadeIn">Our management team</h2>
            <p class="heading-description font_one wow fadeIn" data-wow-delay="100ms">The future has been our
                destination</p>
        </div>
        <div class="our-team-slider-box">
            <!-- Members details -->
            <div class="member-details"></div>

            <!-- Slider control box -->
            <div class="slider-controls-box wow fadeInRightBig" data-wow-delay="600ms">
                <div class="current-slide-number font_one"></div>

                <ul class="controls-list font_one">
                    <li class="prev-ctrl"><span class="prev-txt" id="prev-slide">prev</span></li>
                    <li class="separator"><span></span></li>
                    <li class="next-ctrl"><span class="next-txt" id="next-slide">next</span></li>
                </ul>
            </div>

            <!-- Members slider -->
            <div class="owl-carousel owl-theme members-slider">
                <div class="slide wow fadeInUpBig" data-wow-delay="200ms">
                    <a href="#">
                        <img src="https://via.placeholder.com/510x640" alt="Anastasia Green" class="image-responsive">
                    </a>
                    <div class="hidden-data">
                        <div class="detail-left-side wow fadeInUp">
                            <span class="member-name font_one">Anastasia Green</span>
                            <small class="member-position font_two">Auto Dealer</small>
                            <ul class="member-social-list">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="detail-right-side wow fadeInUp">
                            <address>
                                <div class="member-phone font_two"><span>Phone:</span>(007) 123 456 1234</div>
                                <div class="member-email font_two"><span>Email:</span>support@superbcode.net</div>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="slide wow fadeInUpBig" data-wow-delay="300ms">
                    <a href="#">
                        <img src="https://via.placeholder.com/510x640" alt="Anastasia Green" class="image-responsive">
                    </a>
                    <div class="hidden-data">
                        <div class="detail-left-side wow fadeInUp">
                            <span class="member-name font_one">Alexa Smith</span>
                            <small class="member-position font_two">Boss</small>
                            <ul class="member-social-list">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="detail-right-side wow fadeInUp">
                            <address>
                                <div class="member-phone font_two"><span>Phone:</span>(007) 123 456 3456</div>
                                <div class="member-email font_two"><span>Email:</span>info@superbcode.net</div>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="slide wow fadeInUpBig" data-wow-delay="400ms">
                    <a href="#">
                        <img src="https://via.placeholder.com/510x640" alt="Anastasia Green" class="image-responsive">
                    </a>
                    <div class="hidden-data">
                        <div class="detail-left-side wow fadeInUp">
                            <span class="member-name font_one">Kate Padovsky</span>
                            <small class="member-position font_two">Auto Dealer</small>
                            <ul class="member-social-list">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="detail-right-side wow fadeInUp">
                            <address>
                                <div class="member-phone font_two"><span>Phone:</span>(007) 123 456 7890</div>
                                <div class="member-email font_two"><span>Email:</span>support@superbcode.net</div>
                            </address>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>