<section class="performans-widget" id="performance-box">
    <div class="wrapper">
        <div class="performans-content">
            <h3 class="performans-title font_one wow fadeIn">Performance</h3>
            <div class="performans-tabs-box">
                <!-- Tabs -->
                <ul class="tabs font_one" id="tabs">
                    <li class="wow fadeInUp" data-wow-delay="200ms"><a href="#" id="tab1">Fast charging</a></li>
                    <li class="wow fadeInUp" data-wow-delay="300ms"><a href="#" id="tab2">Transmission</a></li>
                    <li class="wow fadeInUp" data-wow-delay="400ms"><a href="#" id="tab3">Service</a></li>
                    <li class="wow fadeInUp" data-wow-delay="500ms"><a href="#" id="tab4">Dealership</a></li>
                </ul>
                <div class="tabs-content wow fadeInUp" data-wow-delay="600ms">
                    <div class="tab-content container" id="tab1C">
                        <h4>Fast charging</h4>
                        <p>
                            We know the difference is in the details and that’s why our car rental services,
                            in the tourism and business industry, stand out for their quality and good taste,
                            to offer you an unique experience
                        </p>

                        <div class="performans-video-box">
                            <!-- Video tag click and show in popup -->
                            <div class="video-preview">
                                <a href="https://www.youtube.com/watch?v=464puoD09dM" class="video-source">
                                    <img src="https://via.placeholder.com/520x330" class="image-responsive" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="tab2C">
                        <h4>Best Transmission</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Amet eos iusto soluta necessitatibus cumque quisquam itaque ut quam!
                            Officia, asperiores?
                        </p>
                        <p>
                            We know the difference is in the details and that’s why our car rental services,
                            in the tourism and business industry, stand out for their quality and good taste,
                            to offer you an unique experience
                        </p>
                    </div>
                    <div class="tab-content" id="tab3C">
                        <h4>All services</h4>
                        <p>
                            We know the difference is in the details and that’s why our car rental services,
                            in the tourism and business industry, stand out for their quality and good taste,
                            to offer you an unique experience
                        </p>

                        <div class="performans-video-box">
                            <!-- Video tag click and show in popup -->
                            <div class="video-preview">
                                <a href="https://www.youtube.com/watch?v=464puoD09dM" class="video-source">
                                    <img src="https://via.placeholder.com/520x330" class="image-responsive" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="tab4C">
                        <h4>Our Dealership</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Amet eos iusto soluta necessitatibus cumque quisquam itaque ut quam!
                            Officia, asperiores?
                        </p>
                        <p>
                            We know the difference is in the details and that’s why our car rental services,
                            in the tourism and business industry, stand out for their quality and good taste,
                            to offer you an unique experience
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>