<section class="project-features-widget" id="project-features-widget">
    <div class="project-features-inner">
        <div class="feature-box masking-text-wrap wow fadeInUp">
            <div class="masking-text">
                <span>WT</span>
            </div>
        </div>
        <div class="feature-box wow fadeInUp" data-wow-delay="200ms">
            <img class="feature1" src="./assets/i/feature1.png" alt="Warranty from one year to 2 years">
            <div class="feature-text">
                <h3 class="font_one feature-title">Warranty from one year to 2 years</h3>
                <p class="font_two feature-description">
                    Leap lorem Ipsum is simply dummy text the printin k a galley of type and bled it to make a type specimenbook.
                </p>
            </div>
        </div>
        <div class="feature-box wow fadeInUp" data-wow-delay="300ms">
            <img class="feature2" src="./assets/i/feature2.png" alt="Warranty from one year to 2 years">
            <div class="feature-text">
                <h3 class="font_one feature-title">Awesome mechanic Support</h3>
                <p class="font_two feature-description">
                    Leap lorem Ipsum is simply dummy text the printin k a galley of type and bled it to make a type specimenbook.
                </p>
            </div>
        </div>
        <div class="feature-box wow fadeInUp" data-wow-delay="400ms">
            <img class="feature3" src="./assets/i/feature3.png" alt="Warranty from one year to 2 years">
            <div class="feature-text">
                <h3 class="font_one feature-title">Warranty from one year to 2 years</h3>
                <p class="font_two feature-description">
                    Leap lorem Ipsum is simply dummy text the printin k a galley of type and bled it to make a type specimenbook.
                </p>
            </div>
        </div>
        <div class="feature-box wow fadeInUp" data-wow-delay="500ms">
            <img class="feature4" src="./assets/i/feature4.png" alt="Warranty from one year to 2 years">
            <div class="feature-text">
                <h3 class="font_one feature-title">Modern equipment in our salon</h3>
                <p class="font_two feature-description">
                    Leap lorem Ipsum is simply dummy text the printin k a galley of type and bled it to make a type specimenbook.
                </p>
            </div>
        </div>
        <div class="feature-box wow fadeInUp" data-wow-delay="600ms">
            <img class="feature4" src="./assets/i/feature5.png" alt="Warranty from one year to 2 years">
            <div class="feature-text">
                <h3 class="font_one feature-title">Awesome Customer Support</h3>
                <p class="font_two feature-description">
                    Leap lorem Ipsum is simply dummy text the printin k a galley of type and bled it to make a type specimenbook.
                </p>
            </div>
        </div>
    </div>
</section>