<section class="statistics-widget">
    <div class="wrapper">
        <div class="simple-page-heading">
            <h3 class="heading-title wow fadeIn">Statistics</h3>
        </div>
        <div class="statistics-box">
            <div class="statistics-item wow fadeInUp" data-wow-delay="100ms">
                <span class="statistics-title font_one counter" data-speed="3000" data-from="0"
                    data-to="2000">2000</span>
                <span class="statistics-title font_one">+</span>
                <div class="statistics-subtitle font_one">Sold cars</div>
            </div>
            <div class="statistics-item wow fadeInUp" data-wow-delay="200ms">
                <span class="statistics-title font_one">$</span>
                <span class="statistics-title font_one counter" data-speed="3000" data-from="0" data-to="55000000">
                    $55,000,000
                </span>

                <div class="statistics-subtitle font_one">
                    Sold for the amount</div>
            </div>
            <div class="statistics-item wow fadeInUp" data-wow-delay="300ms">
                <span class="statistics-title font_one counter" data-speed="3000" data-from="0" data-to="100">100</span>
                <span class="statistics-title font_one">%</span>
                <div class="statistics-subtitle font_one">
                    Happy customers</div>
            </div>
            <div class="statistics-item wow fadeInUp" data-wow-delay="400ms">
                <span class="statistics-title font_one counter" data-speed="3000" data-from="0"
                    data-to="3500">3500</span>
                <span class="statistics-title font_one">+</span>
                <div class="statistics-subtitle font_one">
                    Made services</div>
            </div>
        </div>
    </div>
</section>