<section class="testdirve-widget">
    <div class="wrapper">
        <div class="content-box wow fadeInUp">
            <div class="simple-page-heading mb-0">
                <h2 class="heading-title font_one">Test-drive</h2>
            </div>

            <div class="content-box-description font_two">
                <p>
                    The Taycan - all-new, innovative and ready for the future. It is characterised by the features that
                    define every new level of electro car: pure emotion and maximum driving pleasure.
                </p>
            </div>
        </div>
    </div>

    <div class="cart-features-text bottom-left-line green--gradient cart-features-position-1 wow fadeInLeft">
        <span class="font_one">
            Satin platinum
        </span>
    </div>
    <div class="cart-features-text top-right-line orange--gradient cart-features-position-2 wow fadeInDown">
        <span class="font_one">
            Power reserve 450 mi
        </span>
    </div>
    <div class="cart-features-text bottom-left-line orange--gradient cart-features-position-3 wow fadeInLeft">
        <span class="font_one">
            Electric motor 460 kW
        </span>
    </div>

    <div class="cart-features-text straight-right-line green--gradient cart-features-position-4 wow fadeInRight">
        <span class="font_one">
            Battery 33 kW
        </span>
    </div>

</section>