<section class="testimonials-widget">
  <div class="wrapper">
    <div class="simple-page-heading">
      <h2 class="heading-title font_one wow fadeIn">Our Testimonials</h2>
      <p class="heading-description font_one wow fadeIn" data-wow-delay="100ms">
        What Our Happy Clients say
      </p>
    </div>
  </div>
  <!-- Testimonials box -->
  <div class="testimonials-box-wrapper wow fadeInLeftBig" data-wow-delay="200ms">
    <div class="wrapper">
      <div class="testimonials-box owl-carousel owl-theme">
        <!-- Testimonial item -->
        <div class="testimonial-item">
          <div class="left-side-box">
            <div class="testimonial-text font_one">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
              quaerat illum pariatur quam non, molestiae officia ut repudiandae
              aspernatur alias nam animi aliquid error quas esse, ipsum
              perspiciatis provident obcaecati.
            </div>
            <div class="testimonial-author font_one">
              <strong class="author-name">John Smith</strong>
              <span class="author-car">Nissan Leaf</span>
            </div>
          </div>
          <div class="right-side-box wow fadeInRightBig" data-wow-delay="300ms">
            <img src="https://via.placeholder.com/540x325" class="image-responsive" alt="Nissan Leaf" />
          </div>
        </div>

        <!-- Testimonial item -->
        <div class="testimonial-item">
          <div class="left-side-box">
            <div class="testimonial-text font_one">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
              quaerat illum pariatur quam non, molestiae officia ut repudiandae
              aspernatur alias nam animi aliquid error quas esse, ipsum
              perspiciatis provident obcaecati.
            </div>
            <div class="testimonial-author font_one">
              <strong class="author-name">Brandon Addams</strong>
              <span class="author-car">Fiat 500e</span>
            </div>
          </div>
          <div class="right-side-box">
            <img src="https://via.placeholder.com/540x325" class="image-responsive" alt="Nissan Leaf" />
          </div>
        </div>

        <!-- Testimonial item -->
        <div class="testimonial-item">
          <div class="left-side-box">
            <div class="testimonial-text font_one">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
              quaerat illum pariatur quam non, molestiae officia ut repudiandae
              aspernatur alias nam animi aliquid error quas esse, ipsum
              perspiciatis provident obcaecati.
            </div>
            <div class="testimonial-author font_one">
              <strong class="author-name">Ben Jorge</strong>
              <span class="author-car">Tesla Model X</span>
            </div>
          </div>
          <div class="right-side-box">
            <img src="https://via.placeholder.com/540x325" class="image-responsive" alt="Nissan Leaf" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>