<div class="v-header">
  <div class="fullscreen-video-wrap">
    <!-- <video controls autoplay muted loop>
            <source src="./assets/video/video-preview-2.mp4" type="video/mp4">
        </video> -->
    <img src="https://via.placeholder.com/1920x1280" alt="Image placeholder" />
  </div>
  <div class="header-overlay"></div>
  <div class="wrapper">
    <div class="owl-slide-text-container">
      <h2 class="owl-slide-animated owl-slide-title font_one">
        <a href="./blog-post.html">Nissan Leaf SV</a>
      </h2>
      <div class="owl-slide-animated owl-slide-subtitle font_one">
        Discover the instant acceleration, incredible range and nimble handling
        of the all-electric Nissan LEAF
      </div>
      <a
        href="#test-drive-inner"
        class="btn-icon-right font_one slide-action-btn owl-slide-animated"
      >
        <span class="btn-icon-title">Order test drive</span>
        <span class="btn-icon-icon">
          <img
            src="./assets/i/icons/car-icon.svg"
            class="svg icon-car-front"
            alt="Car icon"
          />
        </span>
      </a>
    </div>
  </div>
  <!-- Model features list -->
  <ul class="model-features-list">
    <li>
      <div class="model-feature-item">
        <div class="feature-icon">
          <img
            src="./assets/i/icons/road-icon.svg"
            class="svg icon-race-track"
            alt="Road icon"
          />
        </div>
        <div class="feature-text">
          <div class="feature-title font_one">
            <small>to</small>
            259
            <small>mi</small>
          </div>
          <div class="feature-subtitle font_one">Power reserve</div>
        </div>
      </div>
    </li>
    <li>
      <div class="model-feature-item">
        <div class="feature-icon">
          <img
            src="./assets/i/icons/speedometer-icon.svg"
            class="svg icon-speedometer"
            alt="Speedometer icon"
          />
        </div>
        <div class="feature-text">
          <div class="feature-title font_one">
            124
            <small>mi</small>
          </div>
          <div class="feature-subtitle font_one">Max speed</div>
        </div>
      </div>
    </li>
    <li>
      <div class="model-feature-item">
        <div class="feature-icon">
          <img
            src="./assets/i/icons/engine-icon.svg"
            class="svg engine-icon"
            alt="Engine icon"
          />
        </div>
        <div class="feature-text">
          <div class="feature-title font_one">
            360
            <small>hp</small>
          </div>
          <div class="feature-subtitle font_one">Engine power</div>
        </div>
      </div>
    </li>
    <li>
      <div class="model-feature-item">
        <div class="feature-icon">
          <img
            src="./assets/i/icons/battery-icon.svg"
            class="svg icon-battery"
            alt="Battery icon"
          />
        </div>
        <div class="feature-text">
          <div class="feature-title font_one">
            95
            <small>kw/h</small>
          </div>
          <div class="feature-subtitle font_one">Battery</div>
        </div>
      </div>
    </li>
    <li>
      <div class="model-feature-item">
        <div class="feature-icon">
          <img
            src="./assets/i/icons/speed-icon.svg"
            class="svg speed-icon"
            alt="Speed icon"
          />
        </div>
        <div class="feature-text">
          <div class="feature-title font_one">
            6.7
            <small>mi</small>
          </div>
          <div class="feature-subtitle font_one">Speed-up to 100</div>
        </div>
      </div>
    </li>
    <li>
      <div class="model-feature-item">
        <div class="feature-icon">
          <img
            src="./assets/i/icons/turbo-icon.svg"
            class="svg turbo-icon"
            alt="Turbo icon"
          />
        </div>
        <div class="feature-text">
          <div class="feature-title font_one">
            265
            <small>kW</small>
          </div>
          <div class="feature-subtitle font_one">Electric motor</div>
        </div>
      </div>
    </li>
  </ul>
</div>
