<section id="comments">
    <div class="wrapper">
        <div class="comments-heading font_one wow fadeInLeft">
            Comments
        </div>

        <!-- Comments list -->
        <ul class="comments-list">

            <!-- Comment first level -->
            <li class="comment wow fadeInLeft" data-wow-delay="100ms">
                <div class="comment-wrap">
                    <!-- User pic -->
                    <a href="#" class="user-pic">
                        <img src="https://via.placeholder.com/115x115" alt="Anna Green">
                    </a>

                    <!-- Comment body -->
                    <div class="comment-body">
                        <div class="comment-body--top">
                            <span class="comment-author font_one">Anna Green</span>
                            <a href="#" class="comment-reply-link font_one">Replay</a>
                        </div>
                        <div class="comment-body--bottom font_two">
                            Proin gravida nibh lorem ipsum dolor sit amet of Lorem Ipsum. vel velit auctor
                            aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                            ipsum, nec sagittis sem nibh id elit. Duis
                        </div>
                    </div>
                </div>

                <!-- Comment child second level-->
                <ul class="comment-second-level child-comment">
                    <li class="comment wow fadeInLeft" data-wow-delay="200ms">
                        <div class="comment-wrap">
                            <!-- User pic -->
                            <a href="#" class="user-pic">
                                <img src="https://via.placeholder.com/115x115" alt="Anna Green">
                            </a>

                            <!-- Comment body -->
                            <div class="comment-body">
                                <div class="comment-body--top">
                                    <span class="comment-author font_one">Melisa Mars</span>
                                    <a href="#" class="comment-reply-link font_one">Replay</a>
                                </div>
                                <div class="comment-body--bottom font_two">
                                    Proin gravida nibh lorem ipsum dolor sit amet of Lorem Ipsum. vel velit auctor
                                    aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                                    ipsum, nec sagittis sem nibh id elit. Duis
                                </div>
                            </div>
                        </div>

                        <!-- Comment child third level -->
                        <ul class="comment-third-level child-comment">
                            <!-- Comment first level -->
                            <li class="comment wow fadeInLeft" data-wow-delay="300ms">
                                <div class="comment-wrap">
                                    <!-- User pic -->
                                    <a href="#" class="user-pic">
                                        <img src="https://via.placeholder.com/115x115" alt="Anna Green">
                                    </a>

                                    <!-- Comment body -->
                                    <div class="comment-body">
                                        <div class="comment-body--top">
                                            <span class="comment-author font_one">Anna Green</span>
                                            <a href="#" class="comment-reply-link font_one">Replay</a>
                                        </div>
                                        <div class="comment-body--bottom font_two">
                                            Proin gravida nibh lorem ipsum dolor sit amet of Lorem Ipsum. vel velit
                                            auctor
                                            aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                                            consequat
                                            ipsum, nec sagittis sem nibh id elit. Duis
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Comment respond -->
        <div class="comment-respond wow fadeInUpBig">
            <div class="comments-heading font_one">
                Leave a comment
            </div>
            <form action="/" method="post" class="comment-respond-form material-form">
                <div class="form-row">
                    <div class="col-lg-12">
                        <textarea name="comment" cols="40" rows="10"
                            class="material-custom-textarea comment-message font_one" aria-invalid="false"
                            placeholder="Comment"></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-12 col-md-4 col-lg-4 sm-mb-10">
                        <input type="text" name="full-name" value="" class="material-text-input font_one" required
                            aria-required="true" aria-invalid="false" placeholder="Full name">
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 sm-mb-10">
                        <input type="email" name="email" value="" class="material-text-input font_one" required
                            aria-required="true" aria-invalid="false" placeholder="Email">
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 sm-mb-10">
                        <input type="text" name="website" value="" class="material-text-input font_one"
                            aria-required="true" aria-invalid="false" placeholder="Website">
                    </div>
                </div>

                <div class="form-row">
                    <button class="submit-btn font_one">
                        <span class="btn-icon-title">Send comment</span>
                        <span class="btn-icon-icon">
                            <img src="./assets/i/icons/angle-right.svg" class="svg icon-angle-right"
                                alt="Right angle" />
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>