<div class="menu-wrapper">
    <nav id="main-menu">
        <ul class="desktop-menu-list font_one">
            <li><a href="./index.html">Home</a></li>

            <li class="dropdown">
                <a href="#">Blog</a>
                <ul class="sub-menu">
                    <li><a href="./blog.html">Blog Grid</a></li>
                    <li><a href="./blog-single-left.html">Blog left sidebar</a></li>
                    <li><a href="./blog-single-right.html">Blog right sidebar</a></li>
                    <li><a href="./blog-single-without-sidebar.html">Blog without sidebar</a></li>
                    <li><a href="./elements.html">Blog elements</a></li>
                    <li><a href="./gallery.html">Gallery</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Models</a>
                <ul class="sub-menu">
                    <li><a href="./models.html">Models page</a></li>
                    <li><a href="./model-single.html">Models single</a></li>
                </ul>
            </li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
            
        </ul>
    </nav>
    
    <a href="#search-form-box" class="search-icon no-click">
        <i class="fas fa-search"></i>
    </a>

    <a id="hamburger" class="no-click" href="#"><span></span></a>
</div>

<!-- Search form box -->
<div id="search-form-box" >
    <form action="/" method="post" class="search-form font_one">
        <input type="text" name="search" placeholder="Search ...">
    </form>
</div>

