<form action="/" method="post" class="contact-form material-form" id="ajax-contact-form">
    <div class="form-row">
        <div class="col-sm-12 col-md-5 col-lg-5 sm-mb-10">
            <input type="text" name="full-name" value="" class="material-text-input font_one" aria-required="true"
                aria-invalid="false" placeholder="Full name">
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 sm-mb-10">
            <input type="email" name="email" value="" class="material-text-input font_one" aria-required="true"
                aria-invalid="false" placeholder="Email">
        </div>
    </div>
    <div class="form-row">
        <div class="col-lg-12">
            <textarea name="message" cols="40" rows="10" class="material-custom-textarea font_one contact-message"
                aria-invalid="false" placeholder="Message"></textarea>
        </div>
    </div>
    <div class="form-row">
        <button class="submit-btn font_one">
            <span class="btn-icon-title">Send message</span>
            <span class="btn-icon-icon">
                <img src="./assets/i/icons/angle-right.svg" class="svg icon-angle-right" alt="Right angle" />
            </span>
        </button>
    </div>
</form>