<header class="main-header" id="fixed-header">
  <div class="main-header--top">
    <!-- Logo -->
    <a href="./index.html" class="logo-2 font_one">Ewave</a>

    <div class="wrapper">
      <!-- Main header top wrapper -->
      <div class="main-header-top-wrapper">
        <!-- Main header contact -->
        <div class="main-header--contact font_two">
          <div class="main-header-contact--item header-phone-box1">
            <i class="fas fa-clock"></i>
            <span>Mon-Sat:</span>
            <a href="#">07:00 - 17:00</a>
          </div>
          <div class="main-header-contact--item header-phone-box2">
            <i class="fas fa-envelope"></i>
            <span>Email:</span>
            <a href="#">office@ewave.com</a>
          </div>
          <div class="main-header-contact--item header-phone-box3">
            <i class="fas fa-map-marker"></i>
            <span>Address:</span>
            <a href="#">LA 2250 Lexington Avenue</a>
          </div>
        </div>
        <!-- Header order test drive -->
        <a href="" class="main-header-test-btn font_two"> Order test drive </a>
      </div>
    </div>
    <ul class="main-header--social">
      <li>
        <a href="#"><i class="fab fa-facebook-f facebook-icon"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-instagram instagram-icon"></i></a>
      </li>
      <li>
        <a href="#"><i class="fab fa-youtube youtube-icon"></i></a>
      </li>
    </ul>
  </div>
  <div class="main-header--bottom">
    <div class="wrapper">
      <div class="main-header-bottom-wrapper">
        <!-- Main menu -->
        <nav id="main-menu-2">
          <ul class="main-menu-2">
            <li class="menu-item-has-children">
              <a href="./index.html">Home</a>
              <ul class="sub-menu">
                <li>
                  <a href="./index.html">Home 01</a>
                </li>
                <li>
                  <a href="./index-2.html">Home 02</a>
                </li>
                <li>
                  <a href="./index-3.html">Home 03</a>
                </li>
                <li>
                  <a href="./index-4.html">Home 04</a>
                </li>
                <li>
                  <a href="./index-5.html">Home 05</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#">Blog</a>
              <ul class="sub-menu">
                <li>
                  <a href="./blog.html">Blog grid</a>
                </li>
                <li>
                  <a href="./blog-single-left.html">Blog left sidebar</a>
                </li>
                <li>
                  <a href="./blog-single-right.html">Blog right sidebar</a>
                </li>
                <li>
                  <a href="./blog-single-without-sidebar.html"
                    >Blog widthout sidebar</a
                  >
                </li>
                <li>
                  <a href="./elements.html">Blog elements</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="./gallery.html">Gallery</a>
            </li>
            <li class="menu-item-has-children">
              <a href="./models-1.html">Models</a>
              <ul class="sub-menu">
                <li>
                  <a href="./models-1.html">Models 01</a>
                </li>
                <li>
                  <a href="./models-2.html">Models 02</a>
                </li>
                <li>
                  <a href="./model-single-1.html">Model single 01</a>
                </li>
                <li>
                  <a href="./model-single-2.html">Model single 02</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="./trade-in.html">Trade in</a>
            </li>
            <li>
              <a href="./about.html">About us</a>
            </li>
            <li>
              <a href="./contact.html">Contact us</a>
            </li>
          </ul>
        </nav>

        <!-- Search button -->
        <a href="#search-form-box" class="search-icon-2 no-click">
          <i class="fas fa-search"></i>
        </a>

        <!-- Menu hamburger -->
        <a id="hamburger" class="no-click" href="#"><span></span></a>

        <!-- Search form popup box -->
        <div id="search-form-box">
          <form action="/" method="GET" class="search-form font_one">
            <input
              type="text"
              name="s"
              id="search-input"
              value=""
              placeholder="Search ..."
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
