#blog-single-left {
  padding-bottom: 70px;

  @media all and (min-width: 768px) and (max-width: 991px) {
    padding-bottom: 85px;
  }

  @media all and (min-width: 992px) {
    padding-bottom: 100px;
  }

  .blog-post-wrapper {
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 991px) {
      flex-direction: column;
    }

    .post {
      max-width: 75.2%;
      width: 100%;

      @media all and (max-width: 991px) {
        max-width: 100%;
      }

      .post-title {
        word-break: break-word;

        @media all and(max-width: 574px) {
          font-size: rem(28px);
          line-height: rem(38px);
        }

        @media all and (min-width: 992px) {
          padding-right: 40px;
        }
      }
    }
  }
}

#blog-left-hero-bg {
  background-image: url("https://via.placeholder.com/1920x500");
}
