.page-introduction-widget {
    max-width: 799px;

    height: auto;
    margin: 0 auto;
    position:  absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    // Extra small devices
    @media all and (max-width: 574px) {
        width: calc(100% - 60px);
        margin-top: -24%;
    }

    // Small devices
    @media all and (min-width: 575px) and (max-width: 767px) {
        width: 515px;
        margin-top: -150px;
    }

    // Medium devices
    @media all and (min-width: 768px) and (max-width: 991px) {
        width: 690px;
        margin-top: -190px;
    }

    @media all and (min-width: 992px) and (max-width: 1199px) {
        width: 690px;
        margin-top: -190px;
    }

    @media all and (min-width: 1200px) {
        width: 799px;
        margin-top: -215px;
    }

    img {
        display: block;
        height: auto;
        margin: 0 auto;
    }

    .page-info {
        width: 100%;
        max-width: 56%;
        padding: 7% 7% 8% 7%;
        background: #2a2c32;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 13%;
        color:#fff;

        @media all and (max-width: 574px) {
            margin-right: 0 !important;
            max-width: 80%;
            margin-top: 13%;
            padding: 7% 7% 7.5% 7%;
        }

        // Small devices
        @media all and (min-width: 575px) and (max-width: 767px) {
            //margin-right: -20% !important;
            max-width: 80%;
            padding: 8% 7% 8% 7%;
        }

        // Medium devices
        @media all and (min-width: 768px) and (max-width: 991px) {
            //margin-right: -20% !important;
            max-width: 70%;
            padding: 7% 7% 8% 7%;
        }

        // Large devices
        @media all and (min-width: 992px) and (max-width: 1199px) {
            margin-right: -20% !important;
            padding: 7% 7% 8% 7%;
        }

        // Extra large devices
        @media all and (min-width: 1200px) and (max-width: 1439px) {
            margin-right: -20% !important;
            padding: 7% 7% 8% 7%;
        }

        // High resolution
        @media all and (min-width: 1440px) {
            margin-right: -36% !important;
            padding: 7% 7% 8% 7%;
        }

        h1, h2, h3, h4, h5, h6 {
            color: inherit;
            text-transform: uppercase;
            font-size: rem(40px);
            line-height: rem(48px);
            font-weight: 700;
            margin-bottom: 5px;
            word-break: break-word;

            @media all and (max-width: 574px) {
                font-size: rem(28px);
                line-height: rem(28px);
            }
        }

        p {
            color: inherit;
            font-size: rem(20px);
            line-height: rem(20px);
            margin-left: 2px;

            @media all and (max-width: 574px) {
                font-size: rem(13px);
                line-height: rem(13px);
            }
        }
    }
}